In [1]:
import pandas as pd

Leemos nuestra data ('Data_Reduce'), y lo almacenamos en df
=============

In [2]:
df = pd.read_csv('Data_Reduce.csv')

Eliminamos los valores NaN
-------------

In [3]:
data_sin_nan = df.dropna(axis=0)

Mostramos que no haya valores NaN
-------------------

In [4]:
data_sin_nan.isnull().sum()

fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
dtype: int64

Mostramos la data
------------------

In [5]:
data_sin_nan

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,4.5,733573,-73.844311,40.721319,-73.841610,40.712278,1
1,16.9,733777,-74.016048,40.711303,-73.979268,40.782004,1
2,5.7,734367,-73.982738,40.761270,-73.991242,40.750562,2
3,7.7,734614,-73.987130,40.733143,-73.991567,40.758092,1
4,5.3,733840,-73.968095,40.768008,-73.956655,40.783762,1
...,...,...,...,...,...,...,...
55423851,14.0,735307,-74.005272,40.740027,-73.963280,40.762555,1
55423852,4.2,733490,-73.957784,40.765530,-73.951640,40.773959,1
55423853,14.1,734229,-73.970505,40.752325,-73.960537,40.797342,1
55423854,28.9,734436,-73.980901,40.764629,-73.870605,40.773963,1
55423855,7.5,735579,-73.969722,40.797668,-73.970885,40.783313,1

Vemos los tipos de datos que contiene nuestra data
--------------

In [6]:
data_sin_nan.dtypes

fare_amount          float64
pickup_datetime        int64
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count        int64
dtype: object

Seguidamente probé cambiar el tipo de dato con float64 como bajando kbs en el almacenamiento pero no tuve éxito porque hice pruebas, así que lo dejé solo como comentarios que se muestran a continuación:
--------------

In [ ]:
#data_sin_nan.loc[:, data_sin_nan.dtypes == 'float64'] = data_sin_nan.loc[:, data_sin_nan.dtypes == 'float64'].astype('float32')
#data_sin_nan.loc[:, data_sin_nan.dtypes == 'int64'] = data_sin_nan.loc[:, data_sin_nan.dtypes == 'int64'].astype('int32')

In [ ]:
data_sin_nan.dtypes

In [ ]:
data_sin_nan

Examinamos si tiene valores "Infinity"
------------------

In [8]:
import numpy as np
print("printing the count of infinity values")
  
count = np.isinf(data_sin_nan).values.sum()
print("It contains " + str(count) + " infinite values")

printing the count of infinity values
It contains 0 infinite values

Debido a la gran cantidad de data usaremos: 10^7 datos
----------------------------

In [9]:
data_limit = data_sin_nan.iloc[0:10000000]

In [10]:
data_limit

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,4.5,733573,-73.844311,40.721319,-73.841610,40.712278,1
1,16.9,733777,-74.016048,40.711303,-73.979268,40.782004,1
2,5.7,734367,-73.982738,40.761270,-73.991242,40.750562,2
3,7.7,734614,-73.987130,40.733143,-73.991567,40.758092,1
4,5.3,733840,-73.968095,40.768008,-73.956655,40.783762,1
...,...,...,...,...,...,...,...
10000064,4.0,735352,-73.989847,40.762657,-73.995945,40.760692,1
10000065,2.9,733613,-73.990640,40.749214,-73.993469,40.746321,1
10000066,5.3,734446,-73.987382,40.728422,-73.977192,40.741271,1
10000067,6.5,734486,-73.973543,40.757845,-73.976307,40.759955,1
10000068,7.0,734958,-74.008172,40.738697,-73.999390,40.723137,5

In [11]:
data_limit.isnull().sum()

fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
dtype: int64

In [12]:
import matplotlib.pyplot as plt

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

from sklearn.metrics import roc_auc_score

from sklearn.model_selection import train_test_split

%matplotlib inline

In [13]:
from sklearn.preprocessing import StandardScaler
import sklearn
from sklearn.preprocessing import Normalizer
from sklearn import svm
from sklearn.preprocessing import MinMaxScaler

In [14]:
predictores = ['pickup_datetime','pickup_longitude','pickup_latitude','dropoff_longitude','dropoff_latitude','passenger_count']
salida = 'fare_amount'

In [24]:
X_trainval, X_test, y_trainval, y_test = train_test_split(data_limit[predictores],data_limit[salida], test_size=0.10, random_state=0)

**Optamos por probar con un escalado pero no tuvimos un buen resultado**

In [16]:
scaler = MinMaxScaler()
scaler.fit(X_trainval)

MinMaxScaler()

In [17]:
X_train_escalado = scaler.transform(X_trainval)
X_test_escalado= scaler.transform(X_test)

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor
reg = GradientBoostingRegressor(max_depth=8, random_state=0)
reg.fit(X_train_escalado,y_trainval)

In [23]:
reg.score(X_test_escalado, y_test)

0.09712625146403742

**Luego lo realicé sin escalado y obtuvimos una puntuación considerablemente buena**

In [25]:
from sklearn.ensemble import GradientBoostingRegressor
reg = GradientBoostingRegressor(max_depth=8, random_state=0)
reg.fit(X_trainval,y_trainval)

GradientBoostingRegressor(max_depth=8, random_state=0)

In [26]:
reg.score(X_test, y_test)

0.805864127781435