In [98]:
import pandas as pd

In [100]:
#Datos=pd.read_csv('train.csv')
#Una Lectura completa de la data no es posible en una PC promedio, por lo que se optara por la lectura por chunks
TamañoChunks = 10 ** 6
for chunk in pd.read_csv('train.csv', chunksize=TamañoChunks):
        print(chunk)

                                  key  fare_amount          pickup_datetime  \
0         2009-06-15 17:26:21.0000001          4.5  2009-06-15 17:26:21 UTC
1         2010-01-05 16:52:16.0000002         16.9  2010-01-05 16:52:16 UTC
2        2011-08-18 00:35:00.00000049          5.7  2011-08-18 00:35:00 UTC
3         2012-04-21 04:30:42.0000001          7.7  2012-04-21 04:30:42 UTC
4       2010-03-09 07:51:00.000000135          5.3  2010-03-09 07:51:00 UTC
...                               ...          ...                      ...
999995    2014-09-13 21:44:38.0000001          7.0  2014-09-13 21:44:38 UTC
999996    2010-09-20 14:50:37.0000002          7.3  2010-09-20 14:50:37 UTC
999997  2013-04-26 14:03:00.000000118         10.5  2013-04-26 14:03:00 UTC
999998   2011-07-08 00:29:00.00000099          6.9  2011-07-08 00:29:00 UTC
999999   2009-12-31 14:30:00.00000021          4.1  2009-12-31 14:30:00 UTC

        pickup_longitude  pickup_latitude  dropoff_longitude  \
0             -73.844311        40.721319         -73.841610
1             -74.016048        40.711303         -73.979268
2             -73.982738        40.761270         -73.991242
3             -73.987130        40.733143         -73.991567
4             -73.968095        40.768008         -73.956655
...                  ...              ...                ...
999995        -73.976676        40.785630         -73.959196
999996        -73.992103        40.671385         -73.992103
999997        -73.978423        40.751135         -73.993397
999998        -73.980317        40.759482         -73.976832
999999        -74.006635        40.741598         -73.999450

        dropoff_latitude  passenger_count
0              40.712278                1
1              40.782004                1
2              40.750562                2
3              40.758092                1
4              40.783762                1
...                  ...              ...
999995         40.775114                1
999996         40.671385                2
999997         40.762197                5
999998         40.743122                1
999999         40.745702                1

[1000000 rows x 8 columns]
                                   key  fare_amount          pickup_datetime  \
1000000    2010-03-06 21:13:04.0000003         10.1  2010-03-06 21:13:04 UTC
1000001  2010-03-10 16:19:00.000000128          3.7  2010-03-10 16:19:00 UTC
1000002    2014-02-27 08:50:19.0000006         11.0  2014-02-27 08:50:19 UTC
1000003    2011-02-11 17:46:17.0000005          7.3  2011-02-11 17:46:17 UTC
1000004   2011-07-25 12:48:00.00000074          6.9  2011-07-25 12:48:00 UTC
...                                ...          ...                      ...
1999995    2014-11-17 13:51:02.0000002          4.0  2014-11-17 13:51:02 UTC
1999996    2013-02-25 17:51:28.0000004          7.0  2013-02-25 17:51:28 UTC
1999997    2013-07-12 22:03:41.0000006         10.5  2013-07-12 22:03:41 UTC
1999998    2009-01-17 09:35:37.0000002         10.9  2009-01-17 09:35:37 UTC
1999999  2010-01-16 15:46:00.000000153         12.9  2010-01-16 15:46:00 UTC

         pickup_longitude  pickup_latitude  dropoff_longitude  \
1000000        -73.993113        40.755552         -73.969351
1000001        -73.948102        40.770608         -73.952923
1000002        -73.977236        40.743045         -73.997854
1000003        -73.954060        39.603285         -73.977015
1000004        -73.978575        40.753067         -73.964632
...                   ...              ...                ...
1999995        -73.950787        40.770836         -73.951043
1999996        -73.983035        40.748276         -73.974725
1999997        -74.003482        40.743577         -73.976758
1999998        -73.971819        40.797243         -73.985921
1999999        -73.955140        40.779382         -73.914775

         dropoff_latitude  passenger_count
1000000         40.797908                1
1000001         40.768025                1
1000002         40.719837                1
1000003         40.776712                3
1000004         40.764258                1
...                   ...              ...
1999995         40.774543                1
1999996         40.741978                1
1999997         40.765265                1
1999998         40.752459                3
1999999         40.820602                2

[1000000 rows x 8 columns]
                                   key  fare_amount          pickup_datetime  \
2000000    2010-02-18 04:24:00.0000006          3.7  2010-02-18 04:24:00 UTC
2000001  2012-05-24 15:53:00.000000151          5.3  2012-05-24 15:53:00 UTC
2000002    2013-08-27 10:34:44.0000002          9.0  2013-08-27 10:34:44 UTC
2000003  2012-11-17 13:01:00.000000191          3.5  2012-11-17 13:01:00 UTC
2000004    2013-03-10 12:55:28.0000002         18.5  2013-03-10 12:55:28 UTC
...                                ...          ...                      ...
2999995    2011-12-24 02:53:00.0000004         16.1  2011-12-24 02:53:00 UTC
2999996    2012-09-20 04:34:35.0000001         10.0  2012-09-20 04:34:35 UTC
2999997  2013-05-03 22:09:00.000000255         10.0  2013-05-03 22:09:00 UTC
2999998  2013-11-20 07:28:00.000000166         17.5  2013-11-20 07:28:00 UTC
2999999   2014-01-01 17:00:00.00000058          7.5  2014-01-01 17:00:00 UTC

         pickup_longitude  pickup_latitude  dropoff_longitude  \
2000000        -73.998130        40.740360         -74.004150
2000001        -74.002960        40.739107         -73.990593
2000002        -73.985075        40.754526         -74.007655
2000003        -73.991698        40.759568         -73.996223
2000004        -73.991271        40.750273         -73.954231
...                   ...              ...                ...
2999995        -73.985343        40.778637         -73.979797
2999996        -73.986112        40.768156         -73.947266
2999997        -73.990077        40.740692         -73.974760
2999998        -73.957195        40.761940         -74.011202
2999999        -73.927817        40.769840         -73.922810

         dropoff_latitude  passenger_count
2000000         40.733418                2
2000001         40.746082                2
2000002         40.746556                1
2000003         40.753263                5
2000004         40.770220                3
...                   ...              ...
2999995         40.718088                6
2999996         40.748591                1
2999997         40.755222                1
2999998         40.701967                2
2999999         40.755687                2

[1000000 rows x 8 columns]
                                   key  fare_amount          pickup_datetime  \
3000000    2010-01-26 07:07:03.0000001         6.10  2010-01-26 07:07:03 UTC
3000001  2010-11-28 20:10:00.000000144         8.50  2010-11-28 20:10:00 UTC
3000002  2011-07-26 08:18:00.000000137        14.10  2011-07-26 08:18:00 UTC
3000003    2012-06-01 22:43:48.0000006         7.30  2012-06-01 22:43:48 UTC
3000004  2012-06-21 23:08:00.000000160        34.90  2012-06-21 23:08:00 UTC
...                                ...          ...                      ...
3999995    2014-03-24 07:33:57.0000002        46.83  2014-03-24 07:33:57 UTC
3999996  2014-11-08 17:02:00.000000153        14.00  2014-11-08 17:02:00 UTC
3999997    2009-05-17 00:23:31.0000004        11.30  2009-05-17 00:23:31 UTC
3999998    2009-08-25 06:48:17.0000001         4.50  2009-08-25 06:48:17 UTC
3999999    2011-10-21 21:01:43.0000003        21.70  2011-10-21 21:01:43 UTC

         pickup_longitude  pickup_latitude  dropoff_longitude  \
3000000        -73.993733        40.741750         -73.978967
3000001        -73.998932        40.723023         -73.996278
3000002        -73.934495        40.751778         -73.871055
3000003        -73.998355        40.745453         -73.987282
3000004        -74.010082        40.711482         -73.831395
...                   ...              ...                ...
3999995        -73.987998        40.763007         -73.864281
3999996        -74.007965        40.740327         -73.990090
3999997        -73.964203        40.764695         -73.983850
3999998        -74.003833        40.707497         -74.004392
3999999        -73.950344        40.783841         -73.924665

         dropoff_latitude  passenger_count
3000000         40.762242                1
3000001         40.742785                5
3000002         40.774922                1
3000003         40.770997                2
3000004         40.707307                2
...                   ...              ...
3999995         40.769958                1
3999996         40.756777                2
3999997         40.727210                1
3999998         40.716065                1
3999999         40.761677                1

[1000000 rows x 8 columns]

                                   key  fare_amount          pickup_datetime  \
4000000    2012-12-17 09:29:59.0000004          5.0  2012-12-17 09:29:59 UTC
4000001    2014-11-05 20:39:39.0000005          5.0  2014-11-05 20:39:39 UTC
4000002    2014-12-03 13:38:54.0000004          7.5  2014-12-03 13:38:54 UTC
4000003    2010-12-29 23:38:28.0000001         13.7  2010-12-29 23:38:28 UTC
4000004    2012-08-21 09:23:00.0000001          4.1  2012-08-21 09:23:00 UTC
...                                ...          ...                      ...
4999995    2011-01-24 21:33:44.0000003         16.5  2011-01-24 21:33:44 UTC
4999996  2013-10-11 12:12:00.000000118          9.0  2013-10-11 12:12:00 UTC
4999997    2014-12-06 23:04:28.0000002         10.5  2014-12-06 23:04:28 UTC
4999998    2015-05-30 19:01:24.0000004         10.0  2015-05-30 19:01:24 UTC
4999999  2012-07-11 08:12:00.000000102          4.9  2012-07-11 08:12:00 UTC

         pickup_longitude  pickup_latitude  dropoff_longitude  \
4000000        -73.995568        40.733701         -73.987821
4000001        -73.982473        40.771572         -73.984345
4000002        -73.997826        40.760581         -73.989229
4000003        -73.970645        40.760816         -73.961549
4000004          0.000000         0.000000           0.000000
...                   ...              ...                ...
4999995        -74.003883        40.725772         -73.969391
4999996        -73.995105        40.739897         -73.985217
4999997        -73.981063        40.764125         -73.979259
4999998        -73.965401        40.759140         -73.971886
4999999        -73.972595        40.743177         -73.965820

         dropoff_latitude  passenger_count
4000000         40.731948                1
4000001         40.761118                1
4000002         40.756860                2
4000003         40.811081                1
4000004          0.000000                1
...                   ...              ...
4999995         40.800830                1
4999996         40.731950                2
4999997         40.781857                2
4999998         40.750870                1
4999999         40.754412                6

[1000000 rows x 8 columns]
                                   key  fare_amount          pickup_datetime  \
5000000  2010-10-05 21:38:00.000000107         8.10  2010-10-05 21:38:00 UTC
5000001    2012-07-08 01:37:46.0000003         6.10  2012-07-08 01:37:46 UTC
5000002   2012-12-09 18:03:00.00000057        98.75  2012-12-09 18:03:00 UTC
5000003    2013-09-27 08:39:12.0000002         7.00  2013-09-27 08:39:12 UTC
5000004    2010-12-25 00:45:46.0000001         6.50  2010-12-25 00:45:46 UTC
...                                ...          ...                      ...
5999995  2014-11-05 07:59:00.000000106         8.00  2014-11-05 07:59:00 UTC
5999996    2009-04-12 16:14:58.0000004         4.90  2009-04-12 16:14:58 UTC
5999997    2010-02-02 06:40:55.0000001        26.27  2010-02-02 06:40:55 UTC
5999998  2011-03-09 17:55:00.000000115        12.90  2011-03-09 17:55:00 UTC
5999999   2011-08-10 07:26:00.00000056         6.50  2011-08-10 07:26:00 UTC

         pickup_longitude  pickup_latitude  dropoff_longitude  \
5000000        -73.989192        40.756860         -74.010300
5000001        -73.986931        40.729699         -73.980274
5000002          0.000000         0.000000           0.000000
5000003        -73.982050        40.774399         -73.970415
5000004        -73.921857        40.743345         -73.898194
...                   ...              ...                ...
5999995        -73.961583        40.806055         -73.968782
5999996        -73.990880        40.734932         -73.994871
5999997        -73.989190        40.747822         -73.872829
5999998        -73.941103        40.766482         -73.986868
5999999        -73.959148        40.774708         -73.966770

         dropoff_latitude  passenger_count
5000000         40.734488                1
5000001         40.744413                2
5000002          0.000000                5
5000003         40.783874                1
5000004         40.743277                1
...                   ...              ...
5999995         40.791250                2
5999996         40.724847                1
5999997         40.774407                1
5999998         40.763243                1
5999999         40.764255                1

[1000000 rows x 8 columns]
                                   key  fare_amount          pickup_datetime  \
6000000    2015-03-29 13:08:35.0000002          6.5  2015-03-29 13:08:35 UTC
6000001    2015-05-15 23:35:01.0000006          7.5  2015-05-15 23:35:01 UTC
6000002   2009-09-27 19:36:00.00000023          9.3  2009-09-27 19:36:00 UTC
6000003    2010-01-19 13:29:53.0000004          8.1  2010-01-19 13:29:53 UTC
6000004   2012-10-05 20:01:00.00000080          8.5  2012-10-05 20:01:00 UTC
...                                ...          ...                      ...
6999995    2012-05-10 20:19:32.0000001         14.1  2012-05-10 20:19:32 UTC
6999996    2012-12-18 23:47:09.0000003         14.0  2012-12-18 23:47:09 UTC
6999997    2013-09-02 17:11:44.0000001          3.5  2013-09-02 17:11:44 UTC
6999998  2013-10-11 10:35:00.000000152          4.0  2013-10-11 10:35:00 UTC
6999999   2013-12-15 14:06:00.00000086         11.5  2013-12-15 14:06:00 UTC

         pickup_longitude  pickup_latitude  dropoff_longitude  \
6000000        -73.975777        40.748756         -73.973839
6000001        -73.965950        40.765244         -73.954590
6000002        -73.968343        40.754857         -73.991465
6000003        -73.977615        40.753750         -73.956290
6000004        -73.994737        40.680512         -74.015230
...                   ...              ...                ...
6999995          0.000000         0.000000           0.000000
6999996        -74.005063        40.740899         -73.966917
6999997        -73.952613        40.778448         -73.947352
6999998        -73.963082        40.766257         -73.966515
6999999        -74.014927        40.709700         -74.000867

         dropoff_latitude  passenger_count
6000000         40.759815                3
6000001         40.783764                1
6000002         40.719398                1
6000003         40.769612                1
6000004         40.675082                1
...                   ...              ...
6999995          0.000000                1
6999996         40.757846                1
6999997         40.776021                1
6999998         40.770355                1
6999999         40.723987                6

[1000000 rows x 8 columns]

KeyboardInterrupt:

In [101]:
#Para tratar un dato en formato fecha, convertiremos a ordinal
import datetime as dt
MuestraDatos = pd.read_csv('train.csv', nrows=10)
FechaHoraInicio="pickup_datetime"
print(MuestraDatos[FechaHoraInicio])
MuestraDatos[FechaHoraInicio]=pd.to_datetime(MuestraDatos[FechaHoraInicio])
MuestraDatos[FechaHoraInicio]=MuestraDatos[FechaHoraInicio].map(dt.datetime.toordinal)
print(MuestraDatos[FechaHoraInicio])

0    2009-06-15 17:26:21 UTC
1    2010-01-05 16:52:16 UTC
2    2011-08-18 00:35:00 UTC
3    2012-04-21 04:30:42 UTC
4    2010-03-09 07:51:00 UTC
5    2011-01-06 09:50:45 UTC
6    2012-11-20 20:35:00 UTC
7    2012-01-04 17:22:00 UTC
8    2012-12-03 13:10:00 UTC
9    2009-09-02 01:11:00 UTC
Name: pickup_datetime, dtype: object
0    733573
1    733777
2    734367
3    734614
4    733840
5    734143
6    734827
7    734506
8    734840
9    733652
Name: pickup_datetime, dtype: int64

In [102]:
#Tomamos una muestra de los datos para obtener informacion de la data
MuestraDatos = pd.read_csv('train.csv', nrows=20)
MuestraDatos

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1
5,2011-01-06 09:50:45.0000002,12.1,2011-01-06 09:50:45 UTC,-74.000964,40.731630,-73.972892,40.758233,1
6,2012-11-20 20:35:00.0000001,7.5,2012-11-20 20:35:00 UTC,-73.980002,40.751662,-73.973802,40.764842,1
7,2012-01-04 17:22:00.00000081,16.5,2012-01-04 17:22:00 UTC,-73.951300,40.774138,-73.990095,40.751048,1
8,2012-12-03 13:10:00.000000125,9.0,2012-12-03 13:10:00 UTC,-74.006462,40.726713,-73.993078,40.731628,1
9,2009-09-02 01:11:00.00000083,8.9,2009-09-02 01:11:00 UTC,-73.980658,40.733873,-73.991540,40.758138,2
10,2012-04-08 07:30:50.0000002,5.3,2012-04-08 07:30:50 UTC,-73.996335,40.737142,-73.980721,40.733559,1
11,2012-12-24 11:24:00.00000098,5.5,2012-12-24 11:24:00 UTC,0.000000,0.000000,0.000000,0.000000,3
12,2009-11-06 01:04:03.0000002,4.1,2009-11-06 01:04:03 UTC,-73.991601,40.744712,-73.983081,40.744682,2
13,2013-07-02 19:54:00.000000232,7.0,2013-07-02 19:54:00 UTC,-74.005360,40.728867,-74.008913,40.710907,1
14,2011-04-05 17:11:05.0000001,7.7,2011-04-05 17:11:05 UTC,-74.001821,40.737547,-73.998060,40.722788,2
15,2013-11-23 12:57:00.000000190,5.0,2013-11-23 12:57:00 UTC,0.000000,0.000000,0.000000,0.000000,1
16,2014-02-19 07:22:00.00000074,12.5,2014-02-19 07:22:00 UTC,-73.986430,40.760465,-73.988990,40.737075,1
17,2009-07-22 16:08:00.000000163,5.3,2009-07-22 16:08:00 UTC,-73.981060,40.737690,-73.994177,40.728412,1
18,2010-07-07 14:52:00.00000044,5.3,2010-07-07 14:52:00 UTC,-73.969505,40.784843,-73.958732,40.783357,1
19,2014-12-06 20:36:22.0000008,4.0,2014-12-06 20:36:22 UTC,-73.979815,40.751902,-73.979446,40.755481,1

In [103]:
#Imports
from sklearn.linear_model import SGDRegressor
import pandas as pd
import datetime as dt
from sklearn.preprocessing import StandardScaler
#Escalamos la data con StandarScaler y usamos SGDRegresor para una prubea de modelo
scaler = StandardScaler()
SGDC = SGDRegressor()
#definimos que se usara para predecir y cual sera el target
predictores = ['pickup_datetime','pickup_longitude','pickup_latitude','dropoff_longitude','dropoff_latitude','passenger_count']
salida = 'fare_amount'
#La fecha debe tratarse para ser usada en un modelo
FechaHoraInicio="pickup_datetime"
#Como la data es muy grande, se trabajara con chunks
TamañoChunks = 10 ** 4
ChunksEntrenar=9
ChunksTotal=ChunksEntrenar+1
for chunk in pd.read_csv('train.csv', chunksize=TamañoChunks, nrows=TamañoChunks*ChunksTotal):
    #Para el trabajo con scaler, se convierte a fecha inicio en un ordinal 
    chunk[FechaHoraInicio]=pd.to_datetime(chunk[FechaHoraInicio])
    chunk[FechaHoraInicio]=chunk[FechaHoraInicio].map(dt.datetime.toordinal)
    scaler.partial_fit(chunk[predictores])
for chunk in pd.read_csv('train.csv', chunksize=TamañoChunks, nrows=TamañoChunks*ChunksEntrenar):
    chunk[FechaHoraInicio]=pd.to_datetime(chunk[FechaHoraInicio])
    chunk[FechaHoraInicio]=chunk[FechaHoraInicio].map(dt.datetime.toordinal)
    #entrenamos el modelo con los chunks a entrenar
    x_train=scaler.transform(chunk[predictores])
    y_train=chunk[salida]
    SGDC.partial_fit(x_train,y_train)
    #print(scaler.transform(chunk[predictores]))

In [104]:
from sklearn.metrics import accuracy_score
ChunksUsados=TamañoChunks*ChunksEntrenar
for chunk in pd.read_csv('train.csv', chunksize=TamañoChunks, skiprows=(1,ChunksUsados) ,nrows=TamañoChunks):
    chunk[FechaHoraInicio]=pd.to_datetime(chunk[FechaHoraInicio])
    chunk[FechaHoraInicio]=chunk[FechaHoraInicio].map(dt.datetime.toordinal)
    x_test=scaler.transform(chunk[predictores])
    y_true=chunk[salida]
    y_predict=SGDC.predict(x_test)
    #Calculamos la puntuacion del modelo
    score=SGDC.score(x_test,y_true)
    print(score)

0.011019738468362794