In [16]:
import pandas as pd

In [17]:
P#Datos=pd.read_csv('train.csv')
#Una Lectura completa de la data no es posible en una PC promedio, por lo que se optara por la lectura por chunks
TamañoChunks = 10 ** 6
for chunk in pd.read_csv('train.csv', chunksize=TamañoChunks):
        print(chunk)

                                  key  fare_amount          pickup_datetime  \
0         2009-06-15 17:26:21.0000001          4.5  2009-06-15 17:26:21 UTC
1         2010-01-05 16:52:16.0000002         16.9  2010-01-05 16:52:16 UTC
2        2011-08-18 00:35:00.00000049          5.7  2011-08-18 00:35:00 UTC
3         2012-04-21 04:30:42.0000001          7.7  2012-04-21 04:30:42 UTC
4       2010-03-09 07:51:00.000000135          5.3  2010-03-09 07:51:00 UTC
...                               ...          ...                      ...
999995    2014-09-13 21:44:38.0000001          7.0  2014-09-13 21:44:38 UTC
999996    2010-09-20 14:50:37.0000002          7.3  2010-09-20 14:50:37 UTC
999997  2013-04-26 14:03:00.000000118         10.5  2013-04-26 14:03:00 UTC
999998   2011-07-08 00:29:00.00000099          6.9  2011-07-08 00:29:00 UTC
999999   2009-12-31 14:30:00.00000021          4.1  2009-12-31 14:30:00 UTC

        pickup_longitude  pickup_latitude  dropoff_longitude  \
0             -73.844311        40.721319         -73.841610
1             -74.016048        40.711303         -73.979268
2             -73.982738        40.761270         -73.991242
3             -73.987130        40.733143         -73.991567
4             -73.968095        40.768008         -73.956655
...                  ...              ...                ...
999995        -73.976676        40.785630         -73.959196
999996        -73.992103        40.671385         -73.992103
999997        -73.978423        40.751135         -73.993397
999998        -73.980317        40.759482         -73.976832
999999        -74.006635        40.741598         -73.999450

        dropoff_latitude  passenger_count
0              40.712278                1
1              40.782004                1
2              40.750562                2
3              40.758092                1
4              40.783762                1
...                  ...              ...
999995         40.775114                1
999996         40.671385                2
999997         40.762197                5
999998         40.743122                1
999999         40.745702                1

[1000000 rows x 8 columns]
                                   key  fare_amount          pickup_datetime  \
1000000    2010-03-06 21:13:04.0000003         10.1  2010-03-06 21:13:04 UTC
1000001  2010-03-10 16:19:00.000000128          3.7  2010-03-10 16:19:00 UTC
1000002    2014-02-27 08:50:19.0000006         11.0  2014-02-27 08:50:19 UTC
1000003    2011-02-11 17:46:17.0000005          7.3  2011-02-11 17:46:17 UTC
1000004   2011-07-25 12:48:00.00000074          6.9  2011-07-25 12:48:00 UTC
...                                ...          ...                      ...
1999995    2014-11-17 13:51:02.0000002          4.0  2014-11-17 13:51:02 UTC
1999996    2013-02-25 17:51:28.0000004          7.0  2013-02-25 17:51:28 UTC
1999997    2013-07-12 22:03:41.0000006         10.5  2013-07-12 22:03:41 UTC
1999998    2009-01-17 09:35:37.0000002         10.9  2009-01-17 09:35:37 UTC
1999999  2010-01-16 15:46:00.000000153         12.9  2010-01-16 15:46:00 UTC

         pickup_longitude  pickup_latitude  dropoff_longitude  \
1000000        -73.993113        40.755552         -73.969351
1000001        -73.948102        40.770608         -73.952923
1000002        -73.977236        40.743045         -73.997854
1000003        -73.954060        39.603285         -73.977015
1000004        -73.978575        40.753067         -73.964632
...                   ...              ...                ...
1999995        -73.950787        40.770836         -73.951043
1999996        -73.983035        40.748276         -73.974725
1999997        -74.003482        40.743577         -73.976758
1999998        -73.971819        40.797243         -73.985921
1999999        -73.955140        40.779382         -73.914775

         dropoff_latitude  passenger_count
1000000         40.797908                1
1000001         40.768025                1
1000002         40.719837                1
1000003         40.776712                3
1000004         40.764258                1
...                   ...              ...
1999995         40.774543                1
1999996         40.741978                1
1999997         40.765265                1
1999998         40.752459                3
1999999         40.820602                2

[1000000 rows x 8 columns]
                                   key  fare_amount          pickup_datetime  \
2000000    2010-02-18 04:24:00.0000006          3.7  2010-02-18 04:24:00 UTC
2000001  2012-05-24 15:53:00.000000151          5.3  2012-05-24 15:53:00 UTC
2000002    2013-08-27 10:34:44.0000002          9.0  2013-08-27 10:34:44 UTC
2000003  2012-11-17 13:01:00.000000191          3.5  2012-11-17 13:01:00 UTC
2000004    2013-03-10 12:55:28.0000002         18.5  2013-03-10 12:55:28 UTC
...                                ...          ...                      ...
2999995    2011-12-24 02:53:00.0000004         16.1  2011-12-24 02:53:00 UTC
2999996    2012-09-20 04:34:35.0000001         10.0  2012-09-20 04:34:35 UTC
2999997  2013-05-03 22:09:00.000000255         10.0  2013-05-03 22:09:00 UTC
2999998  2013-11-20 07:28:00.000000166         17.5  2013-11-20 07:28:00 UTC
2999999   2014-01-01 17:00:00.00000058          7.5  2014-01-01 17:00:00 UTC

         pickup_longitude  pickup_latitude  dropoff_longitude  \
2000000        -73.998130        40.740360         -74.004150
2000001        -74.002960        40.739107         -73.990593
2000002        -73.985075        40.754526         -74.007655
2000003        -73.991698        40.759568         -73.996223
2000004        -73.991271        40.750273         -73.954231
...                   ...              ...                ...
2999995        -73.985343        40.778637         -73.979797
2999996        -73.986112        40.768156         -73.947266
2999997        -73.990077        40.740692         -73.974760
2999998        -73.957195        40.761940         -74.011202
2999999        -73.927817        40.769840         -73.922810

         dropoff_latitude  passenger_count
2000000         40.733418                2
2000001         40.746082                2
2000002         40.746556                1
2000003         40.753263                5
2000004         40.770220                3
...                   ...              ...
2999995         40.718088                6
2999996         40.748591                1
2999997         40.755222                1
2999998         40.701967                2
2999999         40.755687                2

[1000000 rows x 8 columns]
                                   key  fare_amount          pickup_datetime  \
3000000    2010-01-26 07:07:03.0000001         6.10  2010-01-26 07:07:03 UTC
3000001  2010-11-28 20:10:00.000000144         8.50  2010-11-28 20:10:00 UTC
3000002  2011-07-26 08:18:00.000000137        14.10  2011-07-26 08:18:00 UTC
3000003    2012-06-01 22:43:48.0000006         7.30  2012-06-01 22:43:48 UTC
3000004  2012-06-21 23:08:00.000000160        34.90  2012-06-21 23:08:00 UTC
...                                ...          ...                      ...
3999995    2014-03-24 07:33:57.0000002        46.83  2014-03-24 07:33:57 UTC
3999996  2014-11-08 17:02:00.000000153        14.00  2014-11-08 17:02:00 UTC
3999997    2009-05-17 00:23:31.0000004        11.30  2009-05-17 00:23:31 UTC
3999998    2009-08-25 06:48:17.0000001         4.50  2009-08-25 06:48:17 UTC
3999999    2011-10-21 21:01:43.0000003        21.70  2011-10-21 21:01:43 UTC

         pickup_longitude  pickup_latitude  dropoff_longitude  \
3000000        -73.993733        40.741750         -73.978967
3000001        -73.998932        40.723023         -73.996278
3000002        -73.934495        40.751778         -73.871055
3000003        -73.998355        40.745453         -73.987282
3000004        -74.010082        40.711482         -73.831395
...                   ...              ...                ...
3999995        -73.987998        40.763007         -73.864281
3999996        -74.007965        40.740327         -73.990090
3999997        -73.964203        40.764695         -73.983850
3999998        -74.003833        40.707497         -74.004392
3999999        -73.950344        40.783841         -73.924665

         dropoff_latitude  passenger_count
3000000         40.762242                1
3000001         40.742785                5
3000002         40.774922                1
3000003         40.770997                2
3000004         40.707307                2
...                   ...              ...
3999995         40.769958                1
3999996         40.756777                2
3999997         40.727210                1
3999998         40.716065                1
3999999         40.761677                1

[1000000 rows x 8 columns]

                                   key  fare_amount          pickup_datetime  \
4000000    2012-12-17 09:29:59.0000004          5.0  2012-12-17 09:29:59 UTC
4000001    2014-11-05 20:39:39.0000005          5.0  2014-11-05 20:39:39 UTC
4000002    2014-12-03 13:38:54.0000004          7.5  2014-12-03 13:38:54 UTC
4000003    2010-12-29 23:38:28.0000001         13.7  2010-12-29 23:38:28 UTC
4000004    2012-08-21 09:23:00.0000001          4.1  2012-08-21 09:23:00 UTC
...                                ...          ...                      ...
4999995    2011-01-24 21:33:44.0000003         16.5  2011-01-24 21:33:44 UTC
4999996  2013-10-11 12:12:00.000000118          9.0  2013-10-11 12:12:00 UTC
4999997    2014-12-06 23:04:28.0000002         10.5  2014-12-06 23:04:28 UTC
4999998    2015-05-30 19:01:24.0000004         10.0  2015-05-30 19:01:24 UTC
4999999  2012-07-11 08:12:00.000000102          4.9  2012-07-11 08:12:00 UTC

         pickup_longitude  pickup_latitude  dropoff_longitude  \
4000000        -73.995568        40.733701         -73.987821
4000001        -73.982473        40.771572         -73.984345
4000002        -73.997826        40.760581         -73.989229
4000003        -73.970645        40.760816         -73.961549
4000004          0.000000         0.000000           0.000000
...                   ...              ...                ...
4999995        -74.003883        40.725772         -73.969391
4999996        -73.995105        40.739897         -73.985217
4999997        -73.981063        40.764125         -73.979259
4999998        -73.965401        40.759140         -73.971886
4999999        -73.972595        40.743177         -73.965820

         dropoff_latitude  passenger_count
4000000         40.731948                1
4000001         40.761118                1
4000002         40.756860                2
4000003         40.811081                1
4000004          0.000000                1
...                   ...              ...
4999995         40.800830                1
4999996         40.731950                2
4999997         40.781857                2
4999998         40.750870                1
4999999         40.754412                6

[1000000 rows x 8 columns]
                                   key  fare_amount          pickup_datetime  \
5000000  2010-10-05 21:38:00.000000107         8.10  2010-10-05 21:38:00 UTC
5000001    2012-07-08 01:37:46.0000003         6.10  2012-07-08 01:37:46 UTC
5000002   2012-12-09 18:03:00.00000057        98.75  2012-12-09 18:03:00 UTC
5000003    2013-09-27 08:39:12.0000002         7.00  2013-09-27 08:39:12 UTC
5000004    2010-12-25 00:45:46.0000001         6.50  2010-12-25 00:45:46 UTC
...                                ...          ...                      ...
5999995  2014-11-05 07:59:00.000000106         8.00  2014-11-05 07:59:00 UTC
5999996    2009-04-12 16:14:58.0000004         4.90  2009-04-12 16:14:58 UTC
5999997    2010-02-02 06:40:55.0000001        26.27  2010-02-02 06:40:55 UTC
5999998  2011-03-09 17:55:00.000000115        12.90  2011-03-09 17:55:00 UTC
5999999   2011-08-10 07:26:00.00000056         6.50  2011-08-10 07:26:00 UTC

         pickup_longitude  pickup_latitude  dropoff_longitude  \
5000000        -73.989192        40.756860         -74.010300
5000001        -73.986931        40.729699         -73.980274
5000002          0.000000         0.000000           0.000000
5000003        -73.982050        40.774399         -73.970415
5000004        -73.921857        40.743345         -73.898194
...                   ...              ...                ...
5999995        -73.961583        40.806055         -73.968782
5999996        -73.990880        40.734932         -73.994871
5999997        -73.989190        40.747822         -73.872829
5999998        -73.941103        40.766482         -73.986868
5999999        -73.959148        40.774708         -73.966770

         dropoff_latitude  passenger_count
5000000         40.734488                1
5000001         40.744413                2
5000002          0.000000                5
5000003         40.783874                1
5000004         40.743277                1
...                   ...              ...
5999995         40.791250                2
5999996         40.724847                1
5999997         40.774407                1
5999998         40.763243                1
5999999         40.764255                1

[1000000 rows x 8 columns]
                                   key  fare_amount          pickup_datetime  \
6000000    2015-03-29 13:08:35.0000002          6.5  2015-03-29 13:08:35 UTC
6000001    2015-05-15 23:35:01.0000006          7.5  2015-05-15 23:35:01 UTC
6000002   2009-09-27 19:36:00.00000023          9.3  2009-09-27 19:36:00 UTC
6000003    2010-01-19 13:29:53.0000004          8.1  2010-01-19 13:29:53 UTC
6000004   2012-10-05 20:01:00.00000080          8.5  2012-10-05 20:01:00 UTC
...                                ...          ...                      ...
6999995    2012-05-10 20:19:32.0000001         14.1  2012-05-10 20:19:32 UTC
6999996    2012-12-18 23:47:09.0000003         14.0  2012-12-18 23:47:09 UTC
6999997    2013-09-02 17:11:44.0000001          3.5  2013-09-02 17:11:44 UTC
6999998  2013-10-11 10:35:00.000000152          4.0  2013-10-11 10:35:00 UTC
6999999   2013-12-15 14:06:00.00000086         11.5  2013-12-15 14:06:00 UTC

         pickup_longitude  pickup_latitude  dropoff_longitude  \
6000000        -73.975777        40.748756         -73.973839
6000001        -73.965950        40.765244         -73.954590
6000002        -73.968343        40.754857         -73.991465
6000003        -73.977615        40.753750         -73.956290
6000004        -73.994737        40.680512         -74.015230
...                   ...              ...                ...
6999995          0.000000         0.000000           0.000000
6999996        -74.005063        40.740899         -73.966917
6999997        -73.952613        40.778448         -73.947352
6999998        -73.963082        40.766257         -73.966515
6999999        -74.014927        40.709700         -74.000867

         dropoff_latitude  passenger_count
6000000         40.759815                3
6000001         40.783764                1
6000002         40.719398                1
6000003         40.769612                1
6000004         40.675082                1
...                   ...              ...
6999995          0.000000                1
6999996         40.757846                1
6999997         40.776021                1
6999998         40.770355                1
6999999         40.723987                6

[1000000 rows x 8 columns]
                                   key  fare_amount          pickup_datetime  \
7000000   2014-11-03 19:22:00.00000079          8.0  2014-11-03 19:22:00 UTC
7000001   2012-07-30 04:30:00.00000017          2.9  2012-07-30 04:30:00 UTC
7000002    2013-04-28 10:51:57.0000001          9.5  2013-04-28 10:51:57 UTC
7000003    2014-04-15 08:33:58.0000001          5.5  2014-04-15 08:33:58 UTC
7000004  2011-04-26 14:31:00.000000140          7.3  2011-04-26 14:31:00 UTC
...                                ...          ...                      ...
7999995    2015-03-10 08:01:45.0000005          5.0  2015-03-10 08:01:45 UTC
7999996   2013-06-04 23:33:00.00000066         10.0  2013-06-04 23:33:00 UTC
7999997  2014-05-22 15:50:00.000000131         10.5  2014-05-22 15:50:00 UTC
7999998    2010-11-03 21:36:34.0000002          6.5  2010-11-03 21:36:34 UTC
7999999    2015-03-15 02:03:02.0000003         13.0  2015-03-15 02:03:02 UTC

         pickup_longitude  pickup_latitude  dropoff_longitude  \
7000000        -73.961207        40.769072         -73.974815
7000001          0.000000         0.000000           0.000000
7000002        -73.987038        40.745576         -73.976755
7000003        -74.016846        40.709109         -74.013734
7000004        -74.001813        40.707922         -74.015995
...                   ...              ...                ...
7999995        -73.962967        40.775131         -73.952728
7999996        -74.000075        40.743002         -73.970110
7999997        -74.003992        40.729970         -74.015897
7999998        -73.989890        40.771170         -73.973600
7999999        -73.956108        40.771973         -73.944893

         dropoff_latitude  passenger_count
7000000         40.752522                1
7000001          0.000000                2
7000002         40.749413                1
7000003         40.715067                1
7000004         40.710858                1
...                   ...              ...
7999995         40.772381                4
7999996         40.752332                1
7999997         40.715452                1
7999998         40.789523                1
7999999         40.814194                1

[1000000 rows x 8 columns]

                                   key  fare_amount          pickup_datetime  \
8000000    2015-04-01 18:34:25.0000002         7.00  2015-04-01 18:34:25 UTC
8000001  2010-10-10 17:14:00.000000103        35.87  2010-10-10 17:14:00 UTC
8000002    2010-12-11 02:30:05.0000001         4.90  2010-12-11 02:30:05 UTC
8000003    2014-12-09 22:15:12.0000001        10.50  2014-12-09 22:15:12 UTC
8000004    2009-09-24 08:18:52.0000002        10.10  2009-09-24 08:18:52 UTC
...                                ...          ...                      ...
8999995    2014-05-15 22:56:30.0000003        14.00  2014-05-15 22:56:30 UTC
8999996    2009-04-06 19:49:07.0000006        18.70  2009-04-06 19:49:07 UTC
8999997   2009-10-05 15:09:00.00000047        27.47  2009-10-05 15:09:00 UTC
8999998   2009-10-05 15:09:00.00000076         5.70  2009-10-05 15:09:00 UTC
8999999    2011-09-14 12:54:32.0000004        49.80  2011-09-14 12:54:32 UTC

         pickup_longitude  pickup_latitude  dropoff_longitude  \
8000000        -73.966774        40.757210         -73.980057
8000001        -73.870993        40.773777         -73.993673
8000002        -73.981215        40.725153         -73.987906
8000003        -73.990093        40.755097         -73.980558
8000004        -73.961110        40.768911         -73.978278
...                   ...              ...                ...
8999995        -73.972213        40.758351         -73.982988
8999996        -73.862711        40.768792         -73.790551
8999997        -73.974452        40.762027         -73.870720
8999998        -73.993830        40.741283         -73.990475
8999999        -73.776700        40.645500         -73.991300

         dropoff_latitude  passenger_count
8000000         40.739025                1
8000001         40.745717                2
8000002         40.719904                2
8000003         40.730795                1
8000004         40.757668                1
...                   ...              ...
8999995         40.782047                2
8999996         40.719693                1
8999997         40.773948                1
8999998         40.731327                1
8999999         40.747300                1

[1000000 rows x 8 columns]
                                   key  fare_amount          pickup_datetime  \
9000000    2011-10-31 08:04:00.0000006          6.1  2011-10-31 08:04:00 UTC
9000001  2014-01-14 09:25:00.000000101          5.5  2014-01-14 09:25:00 UTC
9000002    2014-02-04 22:27:15.0000002          8.0  2014-02-04 22:27:15 UTC
9000003  2014-04-30 20:51:00.000000143         16.0  2014-04-30 20:51:00 UTC
9000004    2011-06-19 18:19:40.0000002         49.8  2011-06-19 18:19:40 UTC
...                                ...          ...                      ...
9999995  2012-08-12 01:18:00.000000208          5.7  2012-08-12 01:18:00 UTC
9999996  2013-08-07 10:28:00.000000147          5.5  2013-08-07 10:28:00 UTC
9999997   2013-10-29 08:29:00.00000082         14.0  2013-10-29 08:29:00 UTC
9999998    2012-04-07 16:41:33.0000004         10.5  2012-04-07 16:41:33 UTC
9999999   2010-03-30 19:27:00.00000066          8.5  2010-03-30 19:27:00 UTC

         pickup_longitude  pickup_latitude  dropoff_longitude  \
9000000        -74.011683        40.701050         -73.986832
9000001        -73.987105        40.756267         -73.983142
9000002        -73.955646        40.780318         -73.972352
9000003        -73.991580        40.744842         -73.958597
9000004        -73.786479        40.641689         -73.984662
...                   ...              ...                ...
9999995        -73.999464        40.728452         -73.993299
9999996        -73.968467        40.759367         -73.964967
9999997        -73.997952        40.733717         -73.973448
9999998        -73.992700        40.752021         -73.964705
9999999        -73.965390        40.768572         -73.998188

         dropoff_latitude  passenger_count
9000000         40.711127                1
9000001         40.764862                2
9000002         40.791291                2
9000003         40.769017                1
9000004         40.760663                1
...                   ...              ...
9999995         40.742100                2
9999996         40.769027                1
9999997         40.759122                5
9999998         40.772849                1
9999999         40.761073                1

[1000000 rows x 8 columns]
                                    key  fare_amount          pickup_datetime  \
10000000    2010-08-10 20:02:03.0000005        35.47  2010-08-10 20:02:03 UTC
10000001   2011-03-13 13:24:00.00000058         6.10  2011-03-13 13:24:00 UTC
10000002    2011-06-11 19:45:14.0000001         9.70  2011-06-11 19:45:14 UTC
10000003    2011-12-03 13:16:02.0000004         7.70  2011-12-03 13:16:02 UTC
10000004    2013-03-29 14:35:36.0000002        57.33  2013-03-29 14:35:36 UTC
...                                 ...          ...                      ...
10999995  2014-06-15 04:14:00.000000100         5.00  2014-06-15 04:14:00 UTC
10999996    2009-09-10 09:01:40.0000004         7.30  2009-09-10 09:01:40 UTC
10999997  2011-03-10 10:55:00.000000155        11.70  2011-03-10 10:55:00 UTC
10999998    2012-08-07 13:32:33.0000001         6.50  2012-08-07 13:32:33 UTC
10999999    2015-01-17 02:38:03.0000001        10.50  2015-01-17 02:38:03 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
10000000        -73.967357        40.769295         -73.967285
10000001        -73.968845        40.758278         -73.961397
10000002        -73.982176        40.774797         -73.954307
10000003        -73.977800        40.742278         -73.998633
10000004        -74.003031        40.747367         -73.789365
...                    ...              ...                ...
10999995        -73.987888        40.748692         -73.979342
10999996        -73.987770        40.728529         -74.000935
10999997        -73.999375        40.731172         -73.978368
10999998        -73.981785        40.765401         -73.991161
10999999        -74.002556        40.749977         -73.967850

          dropoff_latitude  passenger_count
10000000         40.802973                1
10000001         40.768565                1
10000002         40.783151                1
10000003         40.734915                1
10000004         40.654745                2
...                    ...              ...
10999995         40.744388                1
10999996         40.720227                1
10999997         40.745368                1
10999998         40.751840                1
10999999         40.759953                1

[1000000 rows x 8 columns]
                                    key  fare_amount          pickup_datetime  \
11000000  2009-05-22 14:02:00.000000173         22.5  2009-05-22 14:02:00 UTC
11000001    2010-03-14 18:24:50.0000001          6.1  2010-03-14 18:24:50 UTC
11000002  2010-01-07 22:59:00.000000148          8.1  2010-01-07 22:59:00 UTC
11000003    2010-08-26 00:30:55.0000006          5.7  2010-08-26 00:30:55 UTC
11000004    2010-09-23 22:14:20.0000004          9.7  2010-09-23 22:14:20 UTC
...                                 ...          ...                      ...
11999995   2010-07-11 19:12:00.00000071         11.3  2010-07-11 19:12:00 UTC
11999996  2012-06-01 07:44:00.000000190          6.9  2012-06-01 07:44:00 UTC
11999997    2012-06-08 15:00:48.0000004         33.7  2012-06-08 15:00:48 UTC
11999998   2014-10-11 23:12:00.00000094         18.0  2014-10-11 23:12:00 UTC
11999999    2012-06-27 13:36:51.0000001          8.5  2012-06-27 13:36:51 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
11000000        -73.981605        40.751623         -73.924947
11000001        -73.987908        40.749911         -73.975011
11000002        -74.009698        40.725995         -73.981412
11000003        -73.985334        40.757555         -73.987110
11000004        -73.982488        40.735359         -74.014853
...                    ...              ...                ...
11999995        -73.954797        40.769870         -73.947038
11999996        -73.994112        40.751075         -73.975917
11999997        -73.980722        40.753208         -73.861160
11999998        -73.996397        40.721057         -73.984342
11999999        -73.976908        40.765980         -73.989320

          dropoff_latitude  passenger_count
11000000         40.829660                5
11000001         40.757695                1
11000002         40.724837                1
11000003         40.756750                1
11000004         40.718162                1
...                    ...              ...
11999995         40.764707                5
11999996         40.758022                6
11999997         40.767828                1
11999998         40.764805                3
11999999         40.756577                3

[1000000 rows x 8 columns]

                                    key  fare_amount          pickup_datetime  \
12000000    2013-08-28 11:59:11.0000002         4.50  2013-08-28 11:59:11 UTC
12000001    2015-05-14 19:45:41.0000001         5.50  2015-05-14 19:45:41 UTC
12000002   2013-08-30 17:16:00.00000041         5.00  2013-08-30 17:16:00 UTC
12000003   2015-03-27 23:36:00.00000016         5.50  2015-03-27 23:36:00 UTC
12000004    2009-09-26 02:40:43.0000001        24.90  2009-09-26 02:40:43 UTC
...                                 ...          ...                      ...
12999995    2015-01-24 13:31:37.0000005        11.50  2015-01-24 13:31:37 UTC
12999996  2011-02-07 10:17:00.000000124         4.90  2011-02-07 10:17:00 UTC
12999997  2013-07-30 15:35:00.000000141        57.33  2013-07-30 15:35:00 UTC
12999998    2012-03-25 17:44:10.0000006         6.90  2012-03-25 17:44:10 UTC
12999999    2009-12-01 08:05:45.0000003        13.70  2009-12-01 08:05:45 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
12000000        -73.999766        40.719072         -74.002329
12000001        -73.965813        40.758083         -73.971718
12000002        -73.988140        40.747652         -73.991322
12000003        -73.958679        40.799862         -73.971489
12000004        -73.914534        40.743703         -74.008501
...                    ...              ...                ...
12999995        -73.989098        40.742046         -73.981514
12999996        -73.990578        40.745880         -73.981703
12999997        -73.978864        40.762188         -73.776692
12999998        -73.971392        40.760775         -73.987154
12999999        -73.963757        40.761518         -73.983731

          dropoff_latitude  passenger_count
12000000         40.715505                1
12000001         40.760303                5
12000002         40.739187                5
12000003         40.794575                3
12000004         40.734312                1
...                    ...              ...
12999995         40.767536                1
12999996         40.758210                1
12999997         40.644808                1
12999998         40.755783                2
12999999         40.715925                4

[1000000 rows x 8 columns]
                                    key  fare_amount          pickup_datetime  \
13000000    2010-10-28 21:00:56.0000005         22.1  2010-10-28 21:00:56 UTC
13000001   2014-12-19 02:51:00.00000018         11.0  2014-12-19 02:51:00 UTC
13000002   2010-10-23 12:24:00.00000050         10.1  2010-10-23 12:24:00 UTC
13000003   2009-06-04 09:01:00.00000088         12.9  2009-06-04 09:01:00 UTC
13000004   2011-10-16 11:07:00.00000094          6.5  2011-10-16 11:07:00 UTC
...                                 ...          ...                      ...
13999995    2015-01-01 01:40:54.0000003         11.0  2015-01-01 01:40:54 UTC
13999996    2009-08-29 21:36:25.0000003          9.3  2009-08-29 21:36:25 UTC
13999997   2010-11-09 19:58:00.00000096          6.5  2010-11-09 19:58:00 UTC
13999998    2014-05-10 05:16:00.0000005         41.0  2014-05-10 05:16:00 UTC
13999999  2009-10-26 22:57:00.000000107          6.1  2009-10-26 22:57:00 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
13000000        -73.952636        40.776662         -74.008748
13000001        -73.955960        40.779020         -73.991380
13000002        -73.999552        40.748263         -73.983317
13000003        -73.992373        40.748631         -73.958173
13000004        -73.980708        40.774688         -73.992688
...                    ...              ...                ...
13999995        -73.991493        40.719696         -73.991295
13999996        -74.000080        40.726782         -73.978372
13999997        -73.996978        40.722833         -74.006600
13999998        -73.776690        40.645447         -73.889325
13999999        -73.977120        40.763900         -73.969535

          dropoff_latitude  passenger_count
13000000         40.719873                1
13000001         40.750410                1
13000002         40.734895                5
13000003         40.765051                2
13000004         40.758260                1
...                    ...              ...
13999995         40.750340                1
13999996         40.762161                1
13999997         40.739407                1
13999998         40.751117                2
13999999         40.752098                1

[1000000 rows x 8 columns]
                                    key  fare_amount          pickup_datetime  \
14000000    2010-05-04 00:51:26.0000001         23.7  2010-05-04 00:51:26 UTC
14000001   2014-05-20 17:24:00.00000088          9.5  2014-05-20 17:24:00 UTC
14000002  2014-10-08 19:19:00.000000161         77.0  2014-10-08 19:19:00 UTC
14000003    2012-08-01 20:55:41.0000004          8.9  2012-08-01 20:55:41 UTC
14000004    2015-04-06 14:41:18.0000002         21.5  2015-04-06 14:41:18 UTC
...                                 ...          ...                      ...
14999995  2013-09-20 11:33:00.000000111         14.5  2013-09-20 11:33:00 UTC
14999996   2009-01-31 19:58:00.00000098          5.3  2009-01-31 19:58:00 UTC
14999997    2011-10-19 22:15:29.0000003          5.7  2011-10-19 22:15:29 UTC
14999998    2012-03-03 23:27:32.0000004          6.1  2012-03-03 23:27:32 UTC
14999999    2012-05-10 20:24:24.0000002          5.3  2012-05-10 20:24:24 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
14000000        -73.961505        40.710226         -73.961507
14000001        -73.994030        40.751427         -73.978835
14000002        -73.873560        40.774027         -73.559295
14000003        -73.973133        40.763953         -73.984436
14000004        -73.982635        40.774796         -73.984238
...                    ...              ...                ...
14999995        -73.992600        40.665777         -74.019930
14999996        -73.984555        40.769923         -73.989558
14999997        -73.970746        40.765819         -73.967065
14999998        -73.989135        40.726938         -73.987463
14999999        -73.979523        40.757467         -73.990008

          dropoff_latitude  passenger_count
14000000         40.710248                1
14000001         40.762752                1
14000002         40.776292                6
14000003         40.733469                1
14000004         40.736214                1
...                    ...              ...
14999995         40.617622                1
14999996         40.757358                5
14999997         40.757036                1
14999998         40.720297                0
14999999         40.750796                1

[1000000 rows x 8 columns]
                                    key  fare_amount          pickup_datetime  \
15000000  2011-05-20 08:10:00.000000168         12.9  2011-05-20 08:10:00 UTC
15000001    2014-03-29 19:38:58.0000001          4.5  2014-03-29 19:38:58 UTC
15000002    2014-10-14 08:32:53.0000002         25.0  2014-10-14 08:32:53 UTC
15000003    2009-06-01 11:56:16.0000002         65.0  2009-06-01 11:56:16 UTC
15000004  2011-03-01 15:41:00.000000160          5.7  2011-03-01 15:41:00 UTC
...                                 ...          ...                      ...
15999995    2014-04-09 15:51:17.0000001          5.0  2014-04-09 15:51:17 UTC
15999996    2010-06-03 13:56:02.0000007          8.1  2010-06-03 13:56:02 UTC
15999997   2013-10-20 10:23:00.00000060          7.0  2013-10-20 10:23:00 UTC
15999998   2014-04-24 08:56:00.00000034         10.5  2014-04-24 08:56:00 UTC
15999999   2009-01-18 01:56:00.00000016         10.9  2009-01-18 01:56:00 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
15000000        -73.953862        40.787935         -73.987165
15000001        -73.988631        40.725760         -73.978358
15000002        -73.954475        40.764205         -73.990395
15000003        -74.181614        40.687674         -74.181614
15000004        -73.984183        40.755117         -73.971180
...                    ...              ...                ...
15999995        -73.969670        40.753540         -73.971470
15999996        -73.987706        40.738455         -73.984340
15999997        -73.984615        40.745465         -73.973105
15999998        -73.971777        40.781977         -73.954350
15999999        -74.005022        40.751690         -73.967108

          dropoff_latitude  passenger_count
15000000         40.754520                2
15000001         40.721457                1
15000002         40.751320                1
15000003         40.687674                1
15000004         40.764153                3
...                    ...              ...
15999995         40.744209                1
15999996         40.754176                1
15999997         40.764027                1
15999998         40.763792                2
15999999         40.762550                1

[1000000 rows x 8 columns]

                                    key  fare_amount          pickup_datetime  \
16000000    2010-11-07 21:56:22.0000001          4.9  2010-11-07 21:56:22 UTC
16000001  2010-12-21 17:14:00.000000119          9.3  2010-12-21 17:14:00 UTC
16000002  2013-03-29 14:12:00.000000167         11.0  2013-03-29 14:12:00 UTC
16000003    2009-10-28 14:44:21.0000001          6.5  2009-10-28 14:44:21 UTC
16000004    2013-05-28 20:29:46.0000002          5.0  2013-05-28 20:29:46 UTC
...                                 ...          ...                      ...
16999995    2011-12-13 18:59:33.0000004         36.9  2011-12-13 18:59:33 UTC
16999996   2012-09-07 04:20:00.00000013         25.5  2012-09-07 04:20:00 UTC
16999997   2014-03-25 03:51:00.00000011         11.5  2014-03-25 03:51:00 UTC
16999998    2010-09-27 18:43:38.0000002          5.3  2010-09-27 18:43:38 UTC
16999999   2012-10-28 15:46:00.00000069          5.5  2012-10-28 15:46:00 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
16000000        -73.968253        40.759378         -73.955059
16000001        -73.975023        40.762282         -73.976055
16000002        -73.973827        40.755705         -73.991533
16000003        -73.973815        40.763185         -73.987231
16000004        -73.972783        40.764092         -73.964666
...                    ...              ...                ...
16999995        -74.006150        40.714175         -73.861644
16999996        -74.006332        40.722505         -73.974448
16999997        -73.974422        40.788080         -74.005937
16999998        -73.995064        40.760164         -73.992382
16999999          0.000000         0.000000           0.000000

          dropoff_latitude  passenger_count
16000000         40.774197                1
16000001         40.744562                1
16000002         40.750080                1
16000003         40.752190                2
16000004         40.773592                1
...                    ...              ...
16999995         40.768390                1
16999996         40.795775                4
16999997         40.708032                1
16999998         40.753353                1
16999999          0.000000                1

[1000000 rows x 8 columns]
                                    key  fare_amount          pickup_datetime  \
17000000    2015-03-18 13:08:58.0000005        50.00  2015-03-18 13:08:58 UTC
17000001    2012-02-14 21:05:23.0000001        10.90  2012-02-14 21:05:23 UTC
17000002  2013-02-28 14:39:00.000000149        11.00  2013-02-28 14:39:00 UTC
17000003  2013-08-30 08:12:00.000000153        21.00  2013-08-30 08:12:00 UTC
17000004  2014-06-01 02:14:00.000000121         9.00  2014-06-01 02:14:00 UTC
...                                 ...          ...                      ...
17999995    2013-01-07 08:42:34.0000001        11.50  2013-01-07 08:42:34 UTC
17999996    2014-03-06 13:55:58.0000001        43.83  2014-03-06 13:55:58 UTC
17999997    2009-11-07 23:20:39.0000003        17.30  2009-11-07 23:20:39 UTC
17999998  2010-09-12 01:18:00.000000203         9.70  2010-09-12 01:18:00 UTC
17999999    2011-10-13 22:35:54.0000001         8.90  2011-10-13 22:35:54 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
17000000        -73.790924        40.644348         -73.993820
17000001        -73.967900        40.759943         -73.941458
17000002        -73.986138        40.762210         -73.960137
17000003        -73.957100        40.766360         -74.010010
17000004        -73.982507        40.771537         -74.002562
...                    ...              ...                ...
17999995        -74.001055        40.752220         -73.974314
17999996        -73.992434        40.749023         -73.861591
17999997          0.000000         0.000000           0.000000
17999998        -73.775533        39.728145         -73.936928
17999999        -73.964303        40.767561         -73.988798

          dropoff_latitude  passenger_count
17000000         40.642380                1
17000001         40.804686                1
17000002         40.779715                5
17000003         40.708042                1
17000004         40.760052                1
...                    ...              ...
17999995         40.750986                1
17999996         40.768213                1
17999997          0.000000                1
17999998         39.659073                2
17999999         40.736654                1

[1000000 rows x 8 columns]
                                    key  fare_amount          pickup_datetime  \
18000000    2013-08-31 13:01:00.0000009         8.00  2013-08-31 13:01:00 UTC
18000001    2013-09-06 18:11:35.0000002         7.50  2013-09-06 18:11:35 UTC
18000002    2014-10-29 07:52:46.0000003        10.50  2014-10-29 07:52:46 UTC
18000003    2015-06-10 18:23:17.0000007         4.50  2015-06-10 18:23:17 UTC
18000004  2010-12-02 19:14:00.000000234         5.70  2010-12-02 19:14:00 UTC
...                                 ...          ...                      ...
18999995  2013-05-08 07:16:00.000000160         7.00  2013-05-08 07:16:00 UTC
18999996    2015-06-25 10:12:33.0000004        57.54  2015-06-25 10:12:33 UTC
18999997   2009-06-25 14:15:00.00000011        13.70  2009-06-25 14:15:00 UTC
18999998    2009-07-30 10:25:49.0000003         3.70  2009-07-30 10:25:49 UTC
18999999    2011-08-03 19:51:58.0000004         8.90  2011-08-03 19:51:58 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
18000000        -73.979197        40.755970         -73.991287
18000001        -74.007782        40.742018         -73.996227
18000002        -73.966007        40.799729         -73.969680
18000003        -73.981880        40.779411         -73.983658
18000004        -73.988920        40.726955         -73.974760
...                    ...              ...                ...
18999995        -73.960397        40.777742         -73.958300
18999996        -73.846725        40.739677         -73.984787
18999997        -73.968722        40.762445         -73.996553
18999998        -73.999803        40.748639         -73.994734
18999999        -73.982881        40.763729         -73.961850

          dropoff_latitude  passenger_count
18000000         40.750207                1
18000001         40.758390                1
18000002         40.806942                1
18000003         40.770634                1
18000004         40.741980                1
...                    ...              ...
18999995         40.765487                1
18999996         40.760731                3
18999997         40.731898                1
18999998         40.746378                1
18999999         40.771623                1

[1000000 rows x 8 columns]
                                    key  fare_amount          pickup_datetime  \
19000000    2013-09-03 06:40:20.0000001          4.5  2013-09-03 06:40:20 UTC
19000001  2009-02-28 22:47:00.000000108          4.5  2009-02-28 22:47:00 UTC
19000002    2010-11-09 09:56:55.0000002          7.3  2010-11-09 09:56:55 UTC
19000003    2011-05-24 13:04:50.0000004         13.7  2011-05-24 13:04:50 UTC
19000004    2012-11-19 23:20:58.0000003          6.5  2012-11-19 23:20:58 UTC
...                                 ...          ...                      ...
19999995  2013-10-16 17:49:00.000000156          9.5  2013-10-16 17:49:00 UTC
19999996    2014-08-08 00:16:56.0000003          3.5  2014-08-08 00:16:56 UTC
19999997   2009-10-10 22:14:00.00000057          4.9  2009-10-10 22:14:00 UTC
19999998  2014-12-10 12:26:00.000000159          5.5  2014-12-10 12:26:00 UTC
19999999   2010-08-13 14:15:00.00000023         10.9  2010-08-13 14:15:00 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
19000000        -73.982042        40.774448         -73.979924
19000001        -73.954580        40.769543         -73.947115
19000002        -73.964326        40.764611         -73.959726
19000003        -73.971156        40.749621         -74.009641
19000004        -73.996235        40.722029         -74.003025
...                    ...              ...                ...
19999995        -73.977708        40.776922         -73.966862
19999996        -73.963245        40.766756         -73.965499
19999997        -73.970945        40.794278         -73.961380
19999998        -73.968077        40.799802         -73.961062
19999999        -74.001995        40.734952         -74.003750

          dropoff_latitude  passenger_count
19000000         40.764775                1
19000001         40.781373                1
19000002         40.781246                1
19000003         40.704006                1
19000004         40.733670                3
...                    ...              ...
19999995         40.772447                5
19999996         40.763579                1
19999997         40.801378                1
19999998         40.811672                6
19999999         40.722210                5

[1000000 rows x 8 columns]

                                    key  fare_amount          pickup_datetime  \
20000000    2011-01-18 06:58:00.0000001         3.70  2011-01-18 06:58:00 UTC
20000001    2012-06-25 04:11:00.0000005         4.10  2012-06-25 04:11:00 UTC
20000002    2013-01-02 16:12:27.0000002         7.50  2013-01-02 16:12:27 UTC
20000003   2013-08-06 05:30:00.00000036        12.00  2013-08-06 05:30:00 UTC
20000004  2014-06-15 15:54:00.000000102        43.33  2014-06-15 15:54:00 UTC
...                                 ...          ...                      ...
20999995    2012-06-12 02:56:17.0000002        10.90  2012-06-12 02:56:17 UTC
20999996  2012-07-27 11:44:00.000000187         6.10  2012-07-27 11:44:00 UTC
20999997    2013-01-19 17:36:15.0000005         7.50  2013-01-19 17:36:15 UTC
20999998    2011-07-28 20:14:50.0000003        17.70  2011-07-28 20:14:50 UTC
20999999    2011-09-24 11:54:00.0000009         8.90  2011-09-24 11:54:00 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
20000000          0.000000         0.000000           0.000000
20000001        -73.994218        40.740970         -73.999072
20000002        -73.991278        40.749787         -73.979363
20000003        -73.924352        40.769657         -73.870980
20000004        -73.982287        40.762655         -73.861872
...                    ...              ...                ...
20999995        -73.988082        40.732113         -73.948897
20999996        -73.977635        40.764243         -73.970463
20999997        -73.998351        40.760679         -73.994890
20999998        -73.971473        40.761949         -74.006797
20999999        -74.003407        40.727152         -73.987518

          dropoff_latitude  passenger_count
20000000          0.000000                1
20000001         40.738315                1
20000002         40.758488                2
20000003         40.774082                5
20000004         40.768367                1
...                    ...              ...
20999995         40.783478                2
20999996         40.767698                1
20999997         40.750272                3
20999998         40.720153                3
20999999         40.758582                3

[1000000 rows x 8 columns]
                                    key  fare_amount          pickup_datetime  \
21000000    2015-04-26 03:38:15.0000004        18.00  2015-04-26 03:38:15 UTC
21000001    2013-02-16 17:24:01.0000003         7.00  2013-02-16 17:24:01 UTC
21000002   2014-02-05 16:56:00.00000035        37.33  2014-02-05 16:56:00 UTC
21000003    2014-09-23 18:24:05.0000003        11.50  2014-09-23 18:24:05 UTC
21000004    2010-03-20 02:26:08.0000001         6.90  2010-03-20 02:26:08 UTC
...                                 ...          ...                      ...
21999995    2011-12-29 14:05:10.0000004         7.70  2011-12-29 14:05:10 UTC
21999996  2013-11-10 18:42:00.000000203        16.00  2013-11-10 18:42:00 UTC
21999997   2013-12-14 12:26:00.00000083        10.50  2013-12-14 12:26:00 UTC
21999998  2011-01-11 21:04:00.000000175         5.70  2011-01-11 21:04:00 UTC
21999999    2011-10-22 11:07:28.0000002        16.50  2011-10-22 11:07:28 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
21000000        -73.988472        40.764248         -73.916016
21000001        -73.967773        40.762606         -73.975896
21000002        -73.994512        40.750567         -73.973792
21000003        -73.995323        40.717618         -74.016867
21000004        -73.999398        40.733476         -73.980425
...                    ...              ...                ...
21999995        -73.990245        40.756285         -73.973398
21999996        -73.956515        40.771207         -73.987300
21999997        -73.997755        40.751312         -73.995007
21999998        -73.974813        40.753150         -73.960602
21999999          0.000000         0.000000           0.000000

          dropoff_latitude  passenger_count
21000000         40.769428                2
21000001         40.744504                1
21000002         40.764437                1
21000003         40.706290                1
21000004         40.746522                1
...                    ...              ...
21999995         40.755026                1
21999996         40.735962                1
21999997         40.731815                1
21999998         40.761233                1
21999999          0.000000                1

[1000000 rows x 8 columns]
                                    key  fare_amount          pickup_datetime  \
22000000    2014-01-31 20:18:39.0000003        12.50  2014-01-31 20:18:39 UTC
22000001   2011-06-22 17:39:00.00000086        12.50  2011-06-22 17:39:00 UTC
22000002    2012-06-20 19:50:41.0000006         5.70  2012-06-20 19:50:41 UTC
22000003  2013-01-17 10:15:00.000000113        13.00  2013-01-17 10:15:00 UTC
22000004  2009-02-12 07:52:00.000000233         6.50  2009-02-12 07:52:00 UTC
...                                 ...          ...                      ...
22999995  2012-05-31 11:27:00.000000159         8.90  2012-05-31 11:27:00 UTC
22999996    2014-02-02 14:04:47.0000001        57.33  2014-02-02 14:04:47 UTC
22999997  2014-04-09 16:11:00.000000123        11.50  2014-04-09 16:11:00 UTC
22999998    2015-04-18 11:43:24.0000005         9.00  2015-04-18 11:43:24 UTC
22999999    2015-04-19 22:20:45.0000001         9.50  2015-04-19 22:20:45 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
22000000        -73.989302        40.773426         -74.007052
22000001        -73.977678        40.808748         -73.984995
22000002        -74.006560        40.744182         -73.991222
22000003        -73.994693        40.745340         -73.990207
22000004        -73.981440        40.774432         -73.979693
...                    ...              ...                ...
22999995        -73.994927        40.740182         -73.978738
22999996        -73.777246        40.645113         -73.979057
22999997        -73.957255        40.770527         -73.980187
22999998        -73.977882        40.773640         -73.952179
22999999        -73.951111        40.794231         -73.978729

          dropoff_latitude  passenger_count
22000000         40.735016                2
22000001         40.807572                1
22000002         40.751072                1
22000003         40.756653                1
22000004         40.755840                1
...                    ...              ...
22999995         40.761623                1
22999996         40.773334                1
22999997         40.751737                1
22999998         40.774864                2
22999999         40.777279                2

[1000000 rows x 8 columns]
                                    key  fare_amount          pickup_datetime  \
23000000   2012-03-05 17:02:00.00000016          8.1  2012-03-05 17:02:00 UTC
23000001  2012-02-26 00:28:00.000000251          7.3  2012-02-26 00:28:00 UTC
23000002    2012-03-30 23:23:54.0000002         12.1  2012-03-30 23:23:54 UTC
23000003    2012-08-31 23:54:03.0000002          7.7  2012-08-31 23:54:03 UTC
23000004    2013-08-24 01:17:24.0000005          4.0  2013-08-24 01:17:24 UTC
...                                 ...          ...                      ...
23999995   2013-06-30 19:12:00.00000078          5.5  2013-06-30 19:12:00 UTC
23999996    2015-02-09 00:43:02.0000001          8.0  2015-02-09 00:43:02 UTC
23999997    2009-09-15 15:30:11.0000001          5.3  2009-09-15 15:30:11 UTC
23999998    2010-06-21 07:02:31.0000005          6.5  2010-06-21 07:02:31 UTC
23999999    2013-10-26 11:45:12.0000001          8.5  2013-10-26 11:45:12 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
23000000        -73.937762        40.758157         -73.937762
23000001        -73.982222        40.771360         -73.986755
23000002        -73.965763        40.758565         -73.935431
23000003        -73.981391        40.729282         -73.988831
23000004        -73.985260        40.735813         -73.986892
...                    ...              ...                ...
23999995        -73.959015        40.780872         -73.947170
23999996        -73.996773        40.720440         -73.989212
23999997        -73.984882        40.747286         -74.000379
23999998        -73.984807        40.779740         -73.983222
23999999        -74.013300        40.715529         -74.007357

          dropoff_latitude  passenger_count
23000000         40.758157                1
23000001         40.750158                1
23000002         40.795767                1
23000003         40.747774                1
23000004         40.729710                4
...                    ...              ...
23999995         40.776075                1
23999996         40.739639                3
23999997         40.741408                1
23999998         40.761210                2
23999999         40.741753                1

[1000000 rows x 8 columns]

                                    key  fare_amount          pickup_datetime  \
24000000  2013-11-03 02:41:00.000000129         14.5  2013-11-03 02:41:00 UTC
24000001    2014-06-15 16:30:49.0000002         12.0  2014-06-15 16:30:49 UTC
24000002    2015-03-03 18:08:59.0000001          9.0  2015-03-03 18:08:59 UTC
24000003  2009-11-12 10:23:00.000000142          6.1  2009-11-12 10:23:00 UTC
24000004    2012-01-07 03:15:39.0000001          4.1  2012-01-07 03:15:39 UTC
...                                 ...          ...                      ...
24999995   2013-01-21 12:24:00.00000058         12.0  2013-01-21 12:24:00 UTC
24999996  2013-07-09 08:07:00.000000135          6.5  2013-07-09 08:07:00 UTC
24999997   2014-08-14 17:04:00.00000094          5.0  2014-08-14 17:04:00 UTC
24999998    2015-06-08 19:09:32.0000001          5.0  2015-06-08 19:09:32 UTC
24999999  2011-11-14 18:36:00.000000115          6.1  2011-11-14 18:36:00 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
24000000        -73.984322        40.743252         -74.006972
24000001        -73.977839        40.725459         -74.009522
24000002        -73.960236        40.762089         -73.960052
24000003        -73.967530        40.788107         -73.954148
24000004        -74.002037        40.735147         -74.000586
...                    ...              ...                ...
24999995        -73.992510        40.758550         -73.960915
24999996        -73.977245        40.753795         -73.983258
24999997        -73.969263        40.761765         -73.974182
24999998        -73.984901        40.768459         -73.984756
24999999        -73.984920        40.758920         -73.994620

          dropoff_latitude  passenger_count
24000000         40.705502                2
24000001         40.706271                1
24000002         40.776340                5
24000003         40.790145                1
24000004         40.728890                1
...                    ...              ...
24999995         40.774777                1
24999996         40.761282                2
24999997         40.753822                2
24999998         40.759480                6
24999999         40.752070                1

[1000000 rows x 8 columns]
                                    key  fare_amount          pickup_datetime  \
25000000    2012-09-06 08:06:43.0000003        10.50  2012-09-06 08:06:43 UTC
25000001    2012-10-12 03:17:17.0000001         8.00  2012-10-12 03:17:17 UTC
25000002    2009-03-30 19:59:10.0000001         7.90  2009-03-30 19:59:10 UTC
25000003    2009-04-13 16:40:00.0000006        29.70  2009-04-13 16:40:00 UTC
25000004  2012-03-27 08:54:00.000000159         8.50  2012-03-27 08:54:00 UTC
...                                 ...          ...                      ...
25999995    2011-08-17 13:37:25.0000001         6.10  2011-08-17 13:37:25 UTC
25999996    2011-11-14 21:42:31.0000004        14.50  2011-11-14 21:42:31 UTC
25999997  2014-04-02 08:33:00.000000194         5.00  2014-04-02 08:33:00 UTC
25999998    2009-03-15 11:51:23.0000003        14.10  2009-03-15 11:51:23 UTC
25999999    2010-06-18 10:56:46.0000003        49.57  2010-06-18 10:56:46 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
25000000        -73.960772        40.757313         -73.978597
25000001        -73.955582        40.714154         -73.959356
25000002        -73.985325        40.747223         -74.003686
25000003        -73.863045        40.767702         -73.975003
25000004        -73.977512        40.762773         -73.952422
...                    ...              ...                ...
25999995        -73.990424        40.756520         -74.001431
25999996        -73.988180        40.743363         -73.943208
25999997        -73.987255        40.766057         -73.982970
25999998        -73.990489        40.758072         -73.996770
25999999        -73.981736        40.771086         -73.777832

          dropoff_latitude  passenger_count
25000000         40.756953                1
25000001         40.691072                1
25000002         40.731992                1
25000003         40.758075                1
25000004         40.789720                2
...                    ...              ...
25999995         40.751544                1
25999996         40.717653                1
25999997         40.759585                1
25999998         40.716456                3
25999999         40.644778                1

[1000000 rows x 8 columns]
                                    key  fare_amount          pickup_datetime  \
26000000  2010-07-16 17:45:00.000000170          6.1  2010-07-16 17:45:00 UTC
26000001  2012-12-01 12:08:00.000000100         10.5  2012-12-01 12:08:00 UTC
26000002    2010-07-27 16:37:21.0000002         10.5  2010-07-27 16:37:21 UTC
26000003    2013-09-12 19:22:08.0000003          7.0  2013-09-12 19:22:08 UTC
26000004   2010-05-09 12:56:00.00000055          7.3  2010-05-09 12:56:00 UTC
...                                 ...          ...                      ...
26999995    2011-02-08 10:37:24.0000001         10.5  2011-02-08 10:37:24 UTC
26999996  2012-01-16 13:35:00.000000125          6.5  2012-01-16 13:35:00 UTC
26999997    2012-08-11 18:44:53.0000003          6.1  2012-08-11 18:44:53 UTC
26999998    2012-10-16 18:13:26.0000003          3.5  2012-10-16 18:13:26 UTC
26999999  2014-04-12 13:20:00.000000164         16.0  2014-04-12 13:20:00 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
26000000        -73.967850        40.792912         -73.967850
26000001        -73.958703        40.772437         -73.977498
26000002        -73.975898        40.776354         -73.974475
26000003        -73.992646        40.723746         -73.986440
26000004        -73.985217        40.768918         -73.995115
...                    ...              ...                ...
26999995        -74.002157        40.729497         -73.983853
26999996        -73.977282        40.779537         -73.971705
26999997        -73.981935        40.770083         -73.967415
26999998        -73.962230        40.773502         -73.962040
26999999        -74.007275        40.713110         -73.972232

          dropoff_latitude  passenger_count
26000000         40.792912                5
26000001         40.781072                2
26000002         40.757945                1
26000003         40.731513                2
26000004         40.749920                2
...                    ...              ...
26999995         40.756298                1
26999996         40.798757                2
26999997         40.761437                1
26999998         40.778110                1
26999999         40.753955                1

[1000000 rows x 8 columns]
                                    key  fare_amount          pickup_datetime  \
27000000   2014-10-19 09:50:00.00000019         14.0  2014-10-19 09:50:00 UTC
27000001    2012-09-01 17:11:57.0000005         10.9  2012-09-01 17:11:57 UTC
27000002    2012-09-11 21:09:32.0000005          9.5  2012-09-11 21:09:32 UTC
27000003   2009-04-29 13:25:00.00000049          6.5  2009-04-29 13:25:00 UTC
27000004  2009-10-15 11:13:00.000000197          8.5  2009-10-15 11:13:00 UTC
...                                 ...          ...                      ...
27999995   2013-05-25 21:48:00.00000092          7.0  2013-05-25 21:48:00 UTC
27999996   2014-01-18 10:49:00.00000055         16.5  2014-01-18 10:49:00 UTC
27999997    2014-08-04 19:04:17.0000002         19.5  2014-08-04 19:04:17 UTC
27999998    2015-04-17 18:04:50.0000006         15.5  2015-04-17 18:04:50 UTC
27999999    2010-06-14 17:10:21.0000005         26.1  2010-06-14 17:10:21 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
27000000        -73.989320        40.758655         -73.950112
27000001          0.000000         0.000000           0.000000
27000002        -73.974050        40.754946         -73.951486
27000003        -74.003333        40.732563         -73.990070
27000004        -73.952667        40.768438         -73.969178
...                    ...              ...                ...
27999995        -73.987048        40.739368         -73.972507
27999996        -73.983518        40.744082         -73.964497
27999997          0.000000         0.000000           0.000000
27999998        -73.976173        40.754036         -73.988403
27999999        -73.872974        40.774129         -73.981515

          dropoff_latitude  passenger_count
27000000         40.775332                6
27000001          0.000000                1
27000002         40.781242                1
27000003         40.723425                2
27000004         40.765977                1
...                    ...              ...
27999995         40.756095                1
27999996         40.792102                6
27999997          0.000000                1
27999998         40.731823                2
27999999         40.776030                1

[1000000 rows x 8 columns]

                                    key  fare_amount          pickup_datetime  \
28000000    2012-07-15 09:17:46.0000001          4.1  2012-07-15 09:17:46 UTC
28000001  2012-10-12 12:48:00.000000203          6.5  2012-10-12 12:48:00 UTC
28000002    2013-01-11 11:40:00.0000005         33.0  2013-01-11 11:40:00 UTC
28000003    2015-04-02 06:29:20.0000002         13.0  2015-04-02 06:29:20 UTC
28000004    2010-03-11 19:55:45.0000002         13.3  2010-03-11 19:55:45 UTC
...                                 ...          ...                      ...
28999995    2013-03-07 17:48:47.0000005         23.0  2013-03-07 17:48:47 UTC
28999996    2013-11-09 20:14:40.0000002          8.5  2013-11-09 20:14:40 UTC
28999997    2009-07-06 08:44:57.0000001          6.9  2009-07-06 08:44:57 UTC
28999998  2014-09-13 15:46:00.000000109         32.5  2014-09-13 15:46:00 UTC
28999999   2009-08-20 07:50:00.00000075          6.9  2009-08-20 07:50:00 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
28000000        -73.949323        40.774350         -73.955927
28000001        -73.998763        40.734757         -73.991033
28000002        -74.004957        40.723225         -73.870205
28000003        -73.955070        40.769840         -73.992828
28000004        -73.966026        40.762110         -74.001424
...                    ...              ...                ...
28999995        -73.961708        40.771217         -74.007808
28999996          0.000000         0.000000           0.000000
28999997        -73.985040        40.739495         -73.972567
28999998        -73.987065        40.752027         -73.964260
28999999        -73.988892        40.763568         -73.996522

          dropoff_latitude  passenger_count
28000000         40.778632                1
28000001         40.742067                1
28000002         40.772890                1
28000003         40.750950                6
28000004         40.717125                1
...                    ...              ...
28999995         40.736257                1
28999996          0.000000                2
28999997         40.761883                1
28999998         40.692030                1
28999999         40.763362                1

[1000000 rows x 8 columns]
                                    key  fare_amount          pickup_datetime  \
29000000   2010-04-13 21:59:00.00000059          6.9  2010-04-13 21:59:00 UTC
29000001    2011-05-18 08:46:55.0000003          6.9  2011-05-18 08:46:55 UTC
29000002    2013-07-06 11:54:06.0000002         11.5  2013-07-06 11:54:06 UTC
29000003    2013-08-25 13:55:01.0000005          4.5  2013-08-25 13:55:01 UTC
29000004    2014-06-21 00:14:25.0000002         12.5  2014-06-21 00:14:25 UTC
...                                 ...          ...                      ...
29999995    2010-12-31 16:08:33.0000001          8.5  2010-12-31 16:08:33 UTC
29999996    2011-02-15 15:53:21.0000002         10.1  2011-02-15 15:53:21 UTC
29999997    2011-12-17 20:28:07.0000004         12.9  2011-12-17 20:28:07 UTC
29999998  2013-03-26 09:07:00.000000185          7.5  2013-03-26 09:07:00 UTC
29999999    2011-11-22 18:10:44.0000002         12.9  2011-11-22 18:10:44 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
29000000        -73.982957        40.761322         -73.989767
29000001        -73.953149        40.778522         -73.963354
29000002        -73.972690        40.796078         -73.939130
29000003        -73.963074        40.769189         -73.971228
29000004        -73.951233        40.782527         -73.938525
...                    ...              ...                ...
29999995        -74.004951        40.721477         -73.989942
29999996        -73.970925        40.755652         -73.969017
29999997        -73.956806        40.766845         -73.983419
29999998        -74.006612        40.705307         -74.009122
29999999        -73.981950        40.737348         -73.990450

          dropoff_latitude  passenger_count
29000000         40.759823                1
29000001         40.762026                1
29000002         40.805078                3
29000003         40.760119                1
29000004         40.819748                1
...                    ...              ...
29999995         40.737085                3
29999996         40.785786                1
29999997         40.721465                2
29999998         40.713297                1
29999999         40.748682                2

[1000000 rows x 8 columns]
                                    key  fare_amount          pickup_datetime  \
30000000  2011-12-02 11:37:00.000000124          4.9  2011-12-02 11:37:00 UTC
30000001    2012-02-02 22:30:19.0000002          8.9  2012-02-02 22:30:19 UTC
30000002    2014-09-20 07:19:24.0000001          4.0  2014-09-20 07:19:24 UTC
30000003    2013-02-23 07:18:05.0000001          5.5  2013-02-23 07:18:05 UTC
30000004    2015-04-18 23:49:27.0000009         13.5  2015-04-18 23:49:27 UTC
...                                 ...          ...                      ...
30999995  2009-03-05 07:58:00.000000166         13.7  2009-03-05 07:58:00 UTC
30999996    2009-05-18 12:05:43.0000004          8.5  2009-05-18 12:05:43 UTC
30999997  2010-01-16 17:37:00.000000162          7.3  2010-01-16 17:37:00 UTC
30999998    2012-04-21 01:22:13.0000004         13.3  2012-04-21 01:22:13 UTC
30999999    2012-10-08 13:05:58.0000005          6.5  2012-10-08 13:05:58 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
30000000        -73.977357        40.766270         -73.982997
30000001        -73.988703        40.758803         -73.986517
30000002        -73.990208        40.746703         -73.994729
30000003        -74.016757        40.709438         -74.009000
30000004        -74.002708        40.733730         -73.986099
...                    ...              ...                ...
30999995        -74.007530        40.731610         -73.971900
30999996        -73.994132        40.751195         -73.982204
30999997        -73.977712        40.742182         -73.996583
30999998        -73.964381        40.792210         -73.990149
30999999        -73.949550        40.796562         -73.963154

          dropoff_latitude  passenger_count
30000000         40.759325                5
30000001         40.737205                1
30000002         40.750512                1
30000003         40.719496                3
30000004         40.734776                1
...                    ...              ...
30999995         40.758780                1
30999996         40.762572                2
30999997         40.727047                1
30999998         40.734582                1
30999999         40.777996                1

[1000000 rows x 8 columns]
                                    key  fare_amount          pickup_datetime  \
31000000    2011-08-27 09:18:54.0000002          2.9  2011-08-27 09:18:54 UTC
31000001    2012-08-18 00:34:00.0000002         13.7  2012-08-18 00:34:00 UTC
31000002    2014-07-21 12:58:47.0000001         15.0  2014-07-21 12:58:47 UTC
31000003  2010-04-18 17:52:00.000000134          7.7  2010-04-18 17:52:00 UTC
31000004    2012-05-21 20:06:11.0000003          4.1  2012-05-21 20:06:11 UTC
...                                 ...          ...                      ...
31999995    2014-02-14 17:35:42.0000001         13.0  2014-02-14 17:35:42 UTC
31999996    2014-12-15 23:26:02.0000001         27.5  2014-12-15 23:26:02 UTC
31999997    2011-07-12 04:11:19.0000001         14.5  2011-07-12 04:11:19 UTC
31999998  2012-03-06 09:45:00.000000217          7.3  2012-03-06 09:45:00 UTC
31999999    2013-06-16 02:35:15.0000003         25.5  2013-06-16 02:35:15 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
31000000        -73.980275        40.738523         -73.983419
31000001        -73.994500        40.690270         -74.013432
31000002        -74.005403        40.727987         -73.982038
31000003        -73.993465        40.749462         -73.982353
31000004        -73.980850        40.744863         -73.988131
...                    ...              ...                ...
31999995        -73.978174        40.788354         -73.992024
31999996        -73.994685        40.760621         -73.939459
31999997        -73.969845        40.755676         -74.016082
31999998        -73.997822        40.720927          -7.666667
31999999        -73.987208        40.760778         -73.866810

          dropoff_latitude  passenger_count
31000000         40.734554                1
31000001         40.708767                1
31000002         40.759817                1
31000003         40.761737                1
31000004         40.735085                1
...                    ...              ...
31999995         40.761611                1
31999996         40.715204                1
31999997         40.706278                1
31999998         40.709075                1
31999999         40.746016                1

[1000000 rows x 8 columns]

                                    key  fare_amount          pickup_datetime  \
32000000  2013-10-15 20:02:00.000000162          6.0  2013-10-15 20:02:00 UTC
32000001  2009-11-03 13:39:00.000000217          6.1  2009-11-03 13:39:00 UTC
32000002  2010-07-23 22:47:00.000000253          6.5  2010-07-23 22:47:00 UTC
32000003  2011-04-15 19:35:00.000000210         18.9  2011-04-15 19:35:00 UTC
32000004   2014-07-18 14:43:00.00000019         16.0  2014-07-18 14:43:00 UTC
...                                 ...          ...                      ...
32999995    2015-04-11 16:31:37.0000003          5.0  2015-04-11 16:31:37 UTC
32999996    2011-08-05 23:06:12.0000001         10.5  2011-08-05 23:06:12 UTC
32999997  2012-01-26 12:37:00.000000115         10.5  2012-01-26 12:37:00 UTC
32999998  2012-08-20 11:00:00.000000106         10.9  2012-08-20 11:00:00 UTC
32999999   2013-06-02 15:00:00.00000040          7.0  2013-06-02 15:00:00 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
32000000        -73.969802        40.759362         -73.980617
32000001        -73.984955        40.748007         -73.973263
32000002        -73.992968        40.730137         -74.010847
32000003        -73.966448        40.794608         -74.009092
32000004        -73.980550        40.783007         -73.938135
...                    ...              ...                ...
32999995        -73.991592        40.738876         -73.995316
32999996        -73.913828        40.743974         -74.005558
32999997        -73.984050        40.729173         -73.986300
32999998        -73.987865        40.719257         -74.006315
32999999        -74.004312        40.741592         -73.990340

          dropoff_latitude  passenger_count
32000000         40.744572                6
32000001         40.748372                5
32000002         40.708805                5
32000003         40.717073                1
32000004         40.797065                1
...                    ...              ...
32999995         40.733868                1
32999996         40.740198                1
32999997         40.750453                5
32999998         40.738200                1
32999999         40.746485                1

[1000000 rows x 8 columns]
                                    key  fare_amount          pickup_datetime  \
33000000    2015-01-09 13:17:39.0000001          7.0  2015-01-09 13:17:39 UTC
33000001    2012-02-10 23:47:05.0000001         14.9  2012-02-10 23:47:05 UTC
33000002    2012-02-08 15:39:04.0000003         14.9  2012-02-08 15:39:04 UTC
33000003    2014-06-21 02:55:07.0000005          7.5  2014-06-21 02:55:07 UTC
33000004   2009-10-15 10:38:00.00000091         18.9  2009-10-15 10:38:00 UTC
...                                 ...          ...                      ...
33999995    2009-01-12 18:53:36.0000002         10.9  2009-01-12 18:53:36 UTC
33999996   2009-03-17 15:51:00.00000088          7.3  2009-03-17 15:51:00 UTC
33999997  2010-11-01 18:23:00.000000201          7.7  2010-11-01 18:23:00 UTC
33999998    2010-12-16 19:45:51.0000007         22.5  2010-12-16 19:45:51 UTC
33999999    2013-05-23 22:38:49.0000002         13.5  2013-05-23 22:38:49 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
33000000        -74.002914        40.733215         -74.009659
33000001        -74.006850        40.719929         -73.942533
33000002        -73.955703        40.782623         -73.993045
33000003        -73.981506        40.724688         -73.975091
33000004        -73.993298        40.747268         -73.994682
...                    ...              ...                ...
33999995        -73.988693        40.748477         -73.982416
33999996        -73.961062        40.760865         -73.977398
33999997        -73.980440        40.731695         -73.976177
33999998        -73.991890        40.725981         -73.886488
33999999        -73.997662        40.720912         -73.969617

          dropoff_latitude  passenger_count
33000000         40.713139                1
33000001         40.689399                1
33000002         40.733232                1
33000003         40.744491                2
33000004         40.690318                1
...                    ...              ...
33999995         40.782721                1
33999996         40.754580                5
33999997         40.754397                1
33999998         40.755394                1
33999999         40.757235                1

[1000000 rows x 8 columns]
                                   key  fare_amount          pickup_datetime  \
34000000   2012-03-19 08:01:44.0000007          6.9  2012-03-19 08:01:44 UTC
34000001  2014-01-07 10:48:00.00000036          9.5  2014-01-07 10:48:00 UTC
34000002  2014-01-28 17:16:00.00000073         11.0  2014-01-28 17:16:00 UTC
34000003  2014-12-27 10:52:00.00000081          7.5  2014-12-27 10:52:00 UTC
34000004   2009-04-22 20:59:16.0000001         16.1  2009-04-22 20:59:16 UTC
...                                ...          ...                      ...
34999995   2010-06-12 12:07:56.0000003          8.9  2010-06-12 12:07:56 UTC
34999996   2011-02-24 16:06:26.0000001          6.9  2011-02-24 16:06:26 UTC
34999997   2009-09-22 19:20:22.0000009          9.7  2009-09-22 19:20:22 UTC
34999998   2012-04-19 02:17:32.0000001         14.1  2012-04-19 02:17:32 UTC
34999999   2012-06-08 11:09:47.0000006          3.3  2012-06-08 11:09:47 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
34000000        -74.003553        40.723946         -73.987544
34000001        -73.983827        40.766660         -73.970177
34000002        -73.978292        40.745672         -73.962092
34000003        -73.988710        40.732432         -73.974962
34000004        -73.978104        40.753389         -74.015194
...                    ...              ...                ...
34999995        -73.969260        40.757771         -73.989000
34999996        -73.966542        40.804975         -73.949043
34999997        -73.980055        40.752535         -74.006443
34999998        -73.998508        40.745305         -73.953184
34999999        -73.953630        40.778797         -73.946068

          dropoff_latitude  passenger_count
34000000         40.746380                1
34000001         40.762682                1
34000002         40.767897                6
34000003         40.750335                1
34000004         40.710030                1
...                    ...              ...
34999995         40.741448                2
34999996         40.804227                2
34999997         40.739613                1
34999998         40.799361                2
34999999         40.775552                1

[1000000 rows x 8 columns]
                                   key  fare_amount          pickup_datetime  \
35000000  2009-06-21 11:07:00.00000036          6.5  2009-06-21 11:07:00 UTC
35000001   2011-04-04 20:34:19.0000006          8.9  2011-04-04 20:34:19 UTC
35000002  2013-09-10 20:31:00.00000043         17.0  2013-09-10 20:31:00 UTC
35000003   2009-11-22 20:25:17.0000001          3.3  2009-11-22 20:25:17 UTC
35000004  2009-12-04 21:50:00.00000095          4.1  2009-12-04 21:50:00 UTC
...                                ...          ...                      ...
35999995  2011-09-27 17:31:00.00000056         14.1  2011-09-27 17:31:00 UTC
35999996   2014-10-06 18:20:22.0000003          8.5  2014-10-06 18:20:22 UTC
35999997   2015-05-07 08:46:36.0000004          5.0  2015-05-07 08:46:36 UTC
35999998   2009-05-26 09:36:56.0000001         10.9  2009-05-26 09:36:56 UTC
35999999   2012-05-30 22:24:51.0000003         26.5  2012-05-30 22:24:51 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
35000000        -73.981578        40.772575         -73.963333
35000001        -73.984138        40.756717         -73.987008
35000002        -73.964355        40.756442         -73.915300
35000003        -73.994154        40.726802         -73.990693
35000004        -73.997822        40.753188         -73.994683
...                    ...              ...                ...
35999995        -73.991130        40.728100         -73.980915
35999996        -73.974382        40.750169         -73.989908
35999997        -73.994751        40.746086         -74.005127
35999998        -73.967796        40.802588         -73.980387
35999999        -73.992645        40.725389         -73.958926

          dropoff_latitude  passenger_count
35000000         40.762132                1
35000001         40.731458                1
35000002         40.759507                1
35000003         40.733892                1
35000004         40.760765                1
...                    ...              ...
35999995         40.763835                3
35999996         40.740732                1
35999997         40.749687                1
35999998         40.763371                1
35999999         40.809236                1

[1000000 rows x 8 columns]

                                    key  fare_amount          pickup_datetime  \
36000000    2015-06-09 22:45:25.0000007         57.0  2015-06-09 22:45:25 UTC
36000001   2010-04-03 21:31:00.00000084          5.7  2010-04-03 21:31:00 UTC
36000002    2010-07-10 10:48:00.0000004          3.3  2010-07-10 10:48:00 UTC
36000003  2010-08-14 14:34:00.000000121          6.5  2010-08-14 14:34:00 UTC
36000004    2013-05-05 19:09:00.0000002          6.5  2013-05-05 19:09:00 UTC
...                                 ...          ...                      ...
36999995    2015-02-15 20:01:11.0000005          5.5  2015-02-15 20:01:11 UTC
36999996    2009-04-10 10:20:25.0000001          3.7  2009-04-10 10:20:25 UTC
36999997    2011-06-24 09:45:53.0000004          9.7  2011-06-24 09:45:53 UTC
36999998    2012-05-18 07:48:59.0000002         18.5  2012-05-18 07:48:59 UTC
36999999   2012-09-23 20:03:00.00000066          9.0  2012-09-23 20:03:00 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
36000000        -73.776947        40.644985         -73.978523
36000001        -73.948575        40.784857         -73.965387
36000002        -74.001385        40.741212         -73.999617
36000003        -73.970560        40.764428         -73.980208
36000004        -73.971610        40.761702         -73.981047
...                    ...              ...                ...
36999995        -73.977661        40.786640         -73.979439
36999996        -73.964219        40.773252         -73.964510
36999997        -73.972274        40.759943         -73.972784
36999998        -73.966891        40.757261         -74.009619
36999999        -73.938815        40.804985         -73.947840

          dropoff_latitude  passenger_count
36000000         40.668827                1
36000001         40.790645                2
36000002         40.738672                1
36000003         40.748687                2
36000004         40.760700                1
...                    ...              ...
36999995         40.776451                1
36999996         40.770169                1
36999997         40.780552                2
36999998         40.713227                1
36999999         40.782895                1

[1000000 rows x 8 columns]
                                   key  fare_amount          pickup_datetime  \
37000000   2014-08-17 02:11:20.0000004        50.00  2014-08-17 02:11:20 UTC
37000001   2014-08-30 16:32:12.0000001        12.00  2014-08-30 16:32:12 UTC
37000002  2009-06-26 14:44:00.00000051         4.50  2009-06-26 14:44:00 UTC
37000003   2010-07-26 10:33:17.0000004         5.30  2010-07-26 10:33:17 UTC
37000004   2012-07-08 11:17:14.0000002         4.90  2012-07-08 11:17:14 UTC
...                                ...          ...                      ...
37999995  2011-08-25 07:29:00.00000020         8.90  2011-08-25 07:29:00 UTC
37999996   2014-01-17 00:28:41.0000002        10.00  2014-01-17 00:28:41 UTC
37999997  2014-02-01 02:41:00.00000028         9.50  2014-02-01 02:41:00 UTC
37999998   2014-02-28 19:52:37.0000004        16.50  2014-02-28 19:52:37 UTC
37999999   2014-07-14 08:10:52.0000001        17.33  2014-07-14 08:10:52 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
37000000        -73.986927        40.742825         -73.870779
37000001        -73.975014        40.748482         -73.998443
37000002        -73.979205        40.755207         -73.978817
37000003        -73.978050        40.734283         -73.983127
37000004        -73.965902        40.790311         -73.969611
...                    ...              ...                ...
37999995        -73.965227        40.755487         -73.998668
37999996        -74.005164        40.720212         -73.980995
37999997        -74.004442        40.742260         -73.982305
37999998        -73.982668        40.727338         -73.955022
37999999          0.000000         0.000000           0.000000

          dropoff_latitude  passenger_count
37000000         40.839980                2
37000001         40.718913                2
37000002         40.762263                1
37000003         40.744635                1
37000004         40.808817                1
...                    ...              ...
37999995         40.754347                3
37999996         40.748455                1
37999997         40.748587                1
37999998         40.690979                2
37999999          0.000000                1

[1000000 rows x 8 columns]
                                    key  fare_amount          pickup_datetime  \
38000000   2010-01-10 04:03:00.00000020          9.7  2010-01-10 04:03:00 UTC
38000001   2011-02-26 01:34:00.00000034          6.1  2011-02-26 01:34:00 UTC
38000002  2011-07-30 20:09:00.000000152          4.1  2011-07-30 20:09:00 UTC
38000003   2011-11-20 04:37:00.00000087          4.1  2011-11-20 04:37:00 UTC
38000004    2013-10-18 21:43:16.0000002          5.5  2013-10-18 21:43:16 UTC
...                                 ...          ...                      ...
38999995   2011-04-22 12:34:00.00000064         58.7  2011-04-22 12:34:00 UTC
38999996   2013-02-14 00:47:00.00000044         11.5  2013-02-14 00:47:00 UTC
38999997  2009-03-29 20:27:00.000000149         19.7  2009-03-29 20:27:00 UTC
38999998    2009-11-28 23:07:14.0000001         13.7  2009-11-28 23:07:14 UTC
38999999    2011-01-08 14:46:18.0000002          6.9  2011-01-08 14:46:18 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
38000000        -73.989547        40.720525         -73.944353
38000001        -73.996155        40.725497         -74.002542
38000002        -73.992887        40.738262         -74.001813
38000003        -73.988483        40.723147         -73.982812
38000004        -73.995555        40.764358         -73.981913
...                    ...              ...                ...
38999995        -73.987178        40.660393         -73.987178
38999996        -73.955972        40.719455         -73.927762
38999997        -73.964172        40.803183         -74.003782
38999998        -74.000455        40.722684         -73.983686
38999999        -73.950988        40.782996         -73.972589

          dropoff_latitude  passenger_count
38000000         40.719788                5
38000001         40.733582                3
38000002         40.739512                1
38000003         40.731185                3
38000004         40.760358                1
...                    ...              ...
38999995         40.660393                2
38999996         40.701850                1
38999997         40.716845                1
38999998         40.758715                1
38999999         40.780967                1

[1000000 rows x 8 columns]
                                    key  fare_amount          pickup_datetime  \
39000000  2011-03-01 21:48:00.000000219         12.5  2011-03-01 21:48:00 UTC
39000001    2013-05-24 02:06:47.0000001         17.0  2013-05-24 02:06:47 UTC
39000002    2013-11-10 08:39:53.0000002          6.0  2013-11-10 08:39:53 UTC
39000003    2014-09-26 20:12:41.0000002         10.0  2014-09-26 20:12:41 UTC
39000004    2009-03-07 01:22:33.0000007          7.8  2009-03-07 01:22:33 UTC
...                                 ...          ...                      ...
39999995    2011-04-06 11:57:04.0000002         14.1  2011-04-06 11:57:04 UTC
39999996   2009-06-02 11:52:00.00000093         45.0  2009-06-02 11:52:00 UTC
39999997    2011-03-11 17:37:14.0000005          7.3  2011-03-11 17:37:14 UTC
39999998   2012-06-05 11:35:00.00000091         10.5  2012-06-05 11:35:00 UTC
39999999    2013-08-29 08:41:56.0000002          7.5  2013-08-29 08:41:56 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
39000000        -73.990685        40.719432         -73.988847
39000001        -74.006287        40.740409         -73.954895
39000002        -73.992932        40.763172         -73.984174
39000003        -73.990185        40.750926         -73.980768
39000004        -73.989873        40.732927         -74.008883
...                    ...              ...                ...
39999995        -73.958208        40.760337         -73.992719
39999996        -73.988742        40.758822         -73.794463
39999997        -73.972519        40.758799         -73.986638
39999998        -73.976140        40.788305         -73.956672
39999999        -73.965522        40.790513         -73.983084

          dropoff_latitude  passenger_count
39000000         40.756245                1
39000001         40.777324                3
39000002         40.780423                1
39000003         40.779507                2
39000004         40.725934                1
...                    ...              ...
39999995         40.744537                1
39999996         40.644505                4
39999997         40.739693                1
39999998         40.764998                1
39999999         40.776867                1

[1000000 rows x 8 columns]

                                    key  fare_amount          pickup_datetime  \
40000000   2011-05-25 14:04:00.00000087          8.9  2011-05-25 14:04:00 UTC
40000001  2009-07-03 00:41:00.000000132          4.5  2009-07-03 00:41:00 UTC
40000002    2013-01-24 22:43:36.0000003          5.0  2013-01-24 22:43:36 UTC
40000003  2013-11-05 17:08:00.000000179          9.5  2013-11-05 17:08:00 UTC
40000004    2014-10-15 12:57:13.0000002          7.0  2014-10-15 12:57:13 UTC
...                                 ...          ...                      ...
40999995   2014-07-22 12:59:00.00000084          3.0  2014-07-22 12:59:00 UTC
40999996   2010-04-22 16:48:00.00000083          5.7  2010-04-22 16:48:00 UTC
40999997   2011-09-01 19:25:00.00000052          9.3  2011-09-01 19:25:00 UTC
40999998   2010-04-03 13:54:00.00000073          6.9  2010-04-03 13:54:00 UTC
40999999  2010-09-29 08:47:00.000000205          4.9  2010-09-29 08:47:00 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
40000000        -73.976700        40.751333         -73.991577
40000001        -73.920725        40.756808         -73.911500
40000002        -73.976246        40.751820         -73.984668
40000003        -73.970157        40.764930         -73.967757
40000004        -73.985000        40.742070         -73.997468
...                    ...              ...                ...
40999995        -73.978420        40.728907         -73.982315
40999996        -73.987080        40.729080         -74.005588
40999997        -73.974843        40.750222         -73.983027
40999998        -74.008312        40.707893         -73.998208
40999999        -73.990712        40.750977         -73.989727

          dropoff_latitude  passenger_count
40000000         40.750008                1
40000001         40.766828                5
40000002         40.738583                1
40000003         40.787545                1
40000004         40.733620                1
...                    ...              ...
40999995         40.730347                1
40999996         40.733388                1
40999997         40.771628                3
40999998         40.732745                1
40999999         40.744370                1

[1000000 rows x 8 columns]
                                    key  fare_amount          pickup_datetime  \
41000000    2010-01-14 23:01:15.0000003          8.5  2010-01-14 23:01:15 UTC
41000001  2011-10-26 12:31:00.000000220         11.3  2011-10-26 12:31:00 UTC
41000002  2009-06-08 10:14:00.000000132         13.3  2009-06-08 10:14:00 UTC
41000003    2012-01-03 14:50:47.0000003          4.1  2012-01-03 14:50:47 UTC
41000004   2012-07-17 21:55:00.00000044          4.1  2012-07-17 21:55:00 UTC
...                                 ...          ...                      ...
41999995    2012-01-27 14:35:43.0000006          4.5  2012-01-27 14:35:43 UTC
41999996   2014-07-17 13:29:00.00000079          3.5  2014-07-17 13:29:00 UTC
41999997   2014-10-05 12:53:00.00000069          5.0  2014-10-05 12:53:00 UTC
41999998    2010-11-28 18:47:42.0000006          4.1  2010-11-28 18:47:42 UTC
41999999    2014-01-19 01:25:49.0000004          7.5  2014-01-19 01:25:49 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
41000000        -73.977913        40.746163         -74.002665
41000001        -73.989508        40.739616         -73.969312
41000002        -74.016037        40.711152         -73.990967
41000003        -73.965703        40.762301         -73.959733
41000004        -73.957452        40.776980         -73.955115
...                    ...              ...                ...
41999995        -73.955099        40.773177         -73.959940
41999996        -73.980840        40.765832         -73.983065
41999997        -73.959443        40.780072         -73.970320
41999998        -73.955497        40.764029         -73.950687
41999999        -74.010141        40.729878         -73.992081

          dropoff_latitude  passenger_count
41000000         40.738769                1
41000001         40.757831                1
41000002         40.760847                1
41000003         40.771227                3
41000004         40.782908                1
...                    ...              ...
41999995         40.766715                1
41999996         40.766787                2
41999997         40.786592                3
41999998         40.771129                1
41999999         40.727390                3

[1000000 rows x 8 columns]
                                    key  fare_amount          pickup_datetime  \
42000000  2010-06-16 10:03:00.000000132          5.3  2010-06-16 10:03:00 UTC
42000001    2011-11-09 17:52:36.0000001         10.1  2011-11-09 17:52:36 UTC
42000002  2013-10-19 11:49:00.000000192         13.0  2013-10-19 11:49:00 UTC
42000003  2014-01-07 14:41:00.000000122          4.5  2014-01-07 14:41:00 UTC
42000004    2014-05-23 13:59:44.0000001         13.0  2014-05-23 13:59:44 UTC
...                                 ...          ...                      ...
42999995    2013-03-10 13:09:05.0000002          8.0  2013-03-10 13:09:05 UTC
42999996    2011-09-10 15:20:07.0000002          8.5  2011-09-10 15:20:07 UTC
42999997    2012-05-18 19:30:14.0000001         10.5  2012-05-18 19:30:14 UTC
42999998    2013-03-26 13:12:52.0000003         18.5  2013-03-26 13:12:52 UTC
42999999    2015-01-12 17:04:22.0000002          5.5  2015-01-12 17:04:22 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
42000000        -73.990169        40.761729         -73.980716
42000001        -73.972377        40.756351         -73.956727
42000002        -73.972622        40.793482         -73.940427
42000003        -73.990432        40.740627         -73.989182
42000004        -73.989161        40.748419         -73.970046
...                    ...              ...                ...
42999995        -73.968143        40.792045         -73.952749
42999996        -74.005300        40.740700         -73.988200
42999997        -73.974197        40.755585         -74.003511
42999998        -73.999753        40.733189         -73.959793
42999999        -73.969452        40.768909         -73.982422

          dropoff_latitude  passenger_count
42000000         40.765448                1
42000001         40.780520                1
42000002         40.789750                1
42000003         40.734080                1
42000004         40.765641                1
...                    ...              ...
42999995         40.805419                1
42999996         40.731800                4
42999997         40.748484                2
42999998         40.773716                1
42999999         40.773521                1

[1000000 rows x 8 columns]
                                    key  fare_amount          pickup_datetime  \
43000000    2009-06-28 09:54:42.0000002          6.1  2009-06-28 09:54:42 UTC
43000001  2011-09-06 11:43:00.000000130         12.9  2011-09-06 11:43:00 UTC
43000002  2012-02-22 13:03:00.000000140          6.9  2012-02-22 13:03:00 UTC
43000003    2010-03-22 19:42:43.0000004          4.9  2010-03-22 19:42:43 UTC
43000004    2013-08-20 19:58:29.0000003          6.0  2013-08-20 19:58:29 UTC
...                                 ...          ...                      ...
43999995    2014-12-06 22:11:07.0000002          5.5  2014-12-06 22:11:07 UTC
43999996    2009-03-25 20:50:49.0000003          4.2  2009-03-25 20:50:49 UTC
43999997    2010-10-26 10:59:52.0000001         10.1  2010-10-26 10:59:52 UTC
43999998  2012-07-11 22:49:00.000000208         12.5  2012-07-11 22:49:00 UTC
43999999  2012-09-22 22:09:00.000000203          5.0  2012-09-22 22:09:00 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
43000000        -73.984500        40.759043         -74.001627
43000001        -73.998172        40.715970         -74.008132
43000002        -73.967240        40.756587         -73.982860
43000003        -73.982032        40.772164         -73.988583
43000004        -73.979961        40.754360         -73.981355
...                    ...              ...                ...
43999995        -73.950996        40.779479         -73.949985
43999996        -73.985700        40.741462         -73.986490
43999997        -73.991285        40.749971         -73.973468
43999998        -73.975665        40.748895         -73.927640
43999999        -74.004933        40.715837         -74.006730

          dropoff_latitude  passenger_count
43000000         40.756513                2
43000001         40.719917                2
43000002         40.743685                1
43000003         40.778402                1
43000004         40.768038                1
...                    ...              ...
43999995         40.786351                1
43999996         40.742476                1
43999997         40.750410                1
43999998         40.759107                1
43999999         40.708085                1

[1000000 rows x 8 columns]

                                    key  fare_amount          pickup_datetime  \
44000000   2013-04-20 14:35:00.00000017         9.00  2013-04-20 14:35:00 UTC
44000001    2009-06-10 11:53:26.0000005        20.10  2009-06-10 11:53:26 UTC
44000002   2010-05-26 07:51:00.00000071        49.57  2010-05-26 07:51:00 UTC
44000003  2010-10-26 15:33:00.000000136         9.30  2010-10-26 15:33:00 UTC
44000004   2012-10-04 11:15:00.00000093        18.50  2012-10-04 11:15:00 UTC
...                                 ...          ...                      ...
44999995    2011-03-23 10:15:25.0000004         3.30  2011-03-23 10:15:25 UTC
44999996    2013-10-26 10:54:17.0000004        10.50  2013-10-26 10:54:17 UTC
44999997  2010-05-05 21:15:00.000000216        16.50  2010-05-05 21:15:00 UTC
44999998    2012-08-30 09:26:04.0000004        14.50  2012-08-30 09:26:04 UTC
44999999   2013-09-09 16:46:00.00000049         5.00  2013-09-09 16:46:00 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
44000000        -73.983023        40.726640         -73.984272
44000001        -74.009780        40.721326         -73.976396
44000002        -73.785563        40.650035         -73.980848
44000003        -73.975902        40.753577         -74.001703
44000004        -73.994065        40.735917         -73.987267
...                    ...              ...                ...
44999995        -73.981889        40.743353         -73.985595
44999996        -73.992631        40.743162         -73.982149
44999997        -74.000467        40.677618         -73.936235
44999998        -73.946918        40.776505         -73.984272
44999999        -73.982235        40.751630         -73.987487

          dropoff_latitude  passenger_count
44000000         40.747732                2
44000001         40.758319                2
44000002         40.750002                3
44000003         40.751828                1
44000004         40.775907                1
...                    ...              ...
44999995         40.741268                1
44999996         40.768728                4
44999997         40.710738                1
44999998         40.754930                1
44999999         40.739817                1

[1000000 rows x 8 columns]
                                    key  fare_amount          pickup_datetime  \
45000000  2010-04-19 07:48:00.000000164         4.90  2010-04-19 07:48:00 UTC
45000001    2010-11-01 03:02:14.0000001        18.90  2010-11-01 03:02:14 UTC
45000002   2012-03-21 06:37:00.00000028        49.80  2012-03-21 06:37:00 UTC
45000003    2009-12-05 17:04:48.0000001         3.70  2009-12-05 17:04:48 UTC
45000004   2011-07-26 16:40:00.00000072         5.70  2011-07-26 16:40:00 UTC
...                                 ...          ...                      ...
45999995   2012-06-19 09:45:00.00000087        12.90  2012-06-19 09:45:00 UTC
45999996  2014-07-13 11:13:00.000000118        36.83  2014-07-13 11:13:00 UTC
45999997   2012-03-07 13:38:00.00000056         6.50  2012-03-07 13:38:00 UTC
45999998  2009-05-26 16:01:00.000000154        10.90  2009-05-26 16:01:00 UTC
45999999  2010-09-21 18:02:00.000000233         2.90  2010-09-21 18:02:00 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
45000000          0.000000         0.000000           0.000000
45000001        -73.971658        40.751119         -73.979410
45000002        -73.952252        40.741432         -73.992515
45000003        -73.961115        40.760562         -73.955139
45000004        -73.976918        40.750008         -73.989595
...                    ...              ...                ...
45999995        -73.992240        40.743557         -73.982080
45999996        -73.974515        40.756957         -73.861867
45999997        -73.978092        40.756570         -73.969177
45999998        -73.976522        40.758365         -73.944932
45999999        -73.951432        40.785312         -73.957285

          dropoff_latitude  passenger_count
45000000          0.000000                1
45000001         40.678315                1
45000002         40.713897                1
45000003         40.768937                1
45000004         40.741458                1
...                    ...              ...
45999995         40.768737                3
45999996         40.768435                3
45999997         40.764303                1
45999998         40.774832                1
45999999         40.777380                1

[1000000 rows x 8 columns]
                                    key  fare_amount          pickup_datetime  \
46000000    2012-02-29 20:42:25.0000006         8.10  2012-02-29 20:42:25 UTC
46000001    2013-09-17 21:09:41.0000005        57.33  2013-09-17 21:09:41 UTC
46000002  2010-10-23 01:02:00.000000186         8.10  2010-10-23 01:02:00 UTC
46000003  2012-02-19 14:09:00.000000163         4.10  2012-02-19 14:09:00 UTC
46000004  2012-04-27 23:38:00.000000125         6.90  2012-04-27 23:38:00 UTC
...                                 ...          ...                      ...
46999995    2015-05-16 00:31:41.0000003        11.50  2015-05-16 00:31:41 UTC
46999996    2009-10-03 09:22:37.0000004        10.50  2009-10-03 09:22:37 UTC
46999997  2011-01-18 21:11:00.000000113        11.70  2011-01-18 21:11:00 UTC
46999998  2012-03-21 09:51:00.000000230        10.50  2012-03-21 09:51:00 UTC
46999999   2012-12-29 20:09:00.00000066         4.00  2012-12-29 20:09:00 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
46000000        -73.966486        40.764803         -73.978054
46000001        -73.789761        40.643841         -73.989076
46000002        -74.005113        40.741065         -73.986332
46000003        -73.967847        40.762475         -73.974653
46000004        -73.947787        40.778657         -73.967528
...                    ...              ...                ...
46999995        -74.002495        40.734180         -73.974396
46999996        -73.970388        40.796887         -73.965706
46999997        -74.003953        40.722143         -73.975315
46999998        -73.996300        40.723530         -73.972653
46999999        -73.969675        40.757385         -73.962840

          dropoff_latitude  passenger_count
46000000         40.783060                1
46000001         40.758203                1
46000002         40.726467                2
46000003         40.752830                5
46000004         40.756217                2
...                    ...              ...
46999995         40.758831                1
46999996         40.763698                1
46999997         40.753660                1
46999998         40.760198                1
46999999         40.758552                1

[1000000 rows x 8 columns]
                                    key  fare_amount          pickup_datetime  \
47000000    2010-08-09 10:47:15.0000001         3.30  2010-08-09 10:47:15 UTC
47000001  2010-10-29 09:46:00.000000112         4.10  2010-10-29 09:46:00 UTC
47000002  2012-10-27 16:12:00.000000168         4.00  2012-10-27 16:12:00 UTC
47000003    2013-06-05 01:59:42.0000002        14.50  2013-06-05 01:59:42 UTC
47000004    2014-09-27 17:54:31.0000001        57.33  2014-09-27 17:54:31 UTC
...                                 ...          ...                      ...
47999995    2009-08-19 15:56:48.0000001        33.30  2009-08-19 15:56:48 UTC
47999996    2011-08-29 08:52:19.0000002         9.30  2011-08-29 08:52:19 UTC
47999997    2013-05-30 02:57:54.0000001         6.00  2013-05-30 02:57:54 UTC
47999998    2014-04-12 15:59:07.0000003         5.50  2014-04-12 15:59:07 UTC
47999999    2014-12-28 18:36:58.0000002        16.50  2014-12-28 18:36:58 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
47000000        -73.969300        40.800730         -73.977802
47000001        -73.951990        40.777297         -73.951990
47000002        -73.977330        40.752627         -73.975640
47000003        -73.999466        40.728750         -73.995345
47000004        -73.989663        40.757263         -73.782631
...                    ...              ...                ...
47999995        -74.010121        40.720914         -73.865380
47999996        -74.002900        40.760500         -73.976000
47999997        -73.971623        40.757320         -73.981713
47999998        -73.974352        40.736874           0.000000
47999999        -73.999819        40.718088         -73.983869

          dropoff_latitude  passenger_count
47000000         40.742250                1
47000001         40.777297                1
47000002         40.756865                1
47000003         40.683517                1
47000004         40.648799                2
...                    ...              ...
47999995         40.770776                1
47999996         40.783200                0
47999997         40.739382                1
47999998          0.000000                1
47999999         40.754856                1

[1000000 rows x 8 columns]

                                    key  fare_amount          pickup_datetime  \
48000000   2010-03-29 00:09:00.00000058         6.10  2010-03-29 00:09:00 UTC
48000001  2011-02-14 11:14:00.000000160        10.90  2011-02-14 11:14:00 UTC
48000002  2011-10-26 15:31:00.000000217        20.50  2011-10-26 15:31:00 UTC
48000003   2009-11-05 16:31:00.00000086        31.07  2009-11-05 16:31:00 UTC
48000004   2012-06-13 15:40:00.00000040         9.30  2012-06-13 15:40:00 UTC
...                                 ...          ...                      ...
48999995    2014-09-06 13:11:39.0000001         5.00  2014-09-06 13:11:39 UTC
48999996  2011-02-27 01:16:00.000000139         4.90  2011-02-27 01:16:00 UTC
48999997   2011-04-14 13:09:00.00000090         8.10  2011-04-14 13:09:00 UTC
48999998  2012-04-19 20:13:00.000000262         8.10  2012-04-19 20:13:00 UTC
48999999    2013-09-21 12:17:51.0000003         6.50  2013-09-21 12:17:51 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
48000000        -73.977718        40.746415         -73.994147
48000001        -73.957095        40.787017         -73.994337
48000002          0.000000         0.000000           0.000000
48000003        -73.874553        40.774123         -73.978983
48000004        -73.980053        40.743140         -73.966800
...                    ...              ...                ...
48999995        -73.982217        40.768764         -73.976799
48999996        -73.963747        40.710650         -73.957925
48999997        -73.964833        40.772737         -73.956907
48999998        -73.950488        40.795120         -73.978305
48999999        -73.977797        40.763488         -73.967590

          dropoff_latitude  passenger_count
48000000         40.755058                1
48000001         40.766100                1
48000002          0.000000                1
48000003         40.762785                1
48000004         40.761177                6
...                    ...              ...
48999995         40.765860                2
48999996         40.717612                2
48999997         40.766262                3
48999998         40.766605                1
48999999         40.761115                1

[1000000 rows x 8 columns]
                                    key  fare_amount          pickup_datetime  \
49000000  2014-04-01 22:33:00.000000108          8.5  2014-04-01 22:33:00 UTC
49000001   2009-03-03 11:59:00.00000097          6.5  2009-03-03 11:59:00 UTC
49000002  2010-09-16 13:35:00.000000212         16.9  2010-09-16 13:35:00 UTC
49000003    2012-03-10 01:49:05.0000003         23.3  2012-03-10 01:49:05 UTC
49000004    2015-06-09 15:12:58.0000003         18.0  2015-06-09 15:12:58 UTC
...                                 ...          ...                      ...
49999995    2014-09-21 17:08:37.0000002         12.5  2014-09-21 17:08:37 UTC
49999996    2012-01-06 17:27:08.0000003         13.3  2012-01-06 17:27:08 UTC
49999997    2012-09-09 00:09:35.0000004          5.5  2012-09-09 00:09:35 UTC
49999998    2012-05-12 05:09:05.0000002          6.1  2012-05-12 05:09:05 UTC
49999999    2011-03-02 08:19:00.0000004          6.5  2011-03-02 08:19:00 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
49000000        -73.957127        40.770722         -73.968847
49000001        -73.995607        40.754432         -74.008157
49000002        -73.998302        40.745187         -73.984088
49000003        -73.976764        40.752256         -73.942489
49000004        -73.978401        40.752430         -73.976288
...                    ...              ...                ...
49999995        -74.004777        40.747018         -74.002923
49999996        -73.976503        40.780570         -74.000820
49999997        -74.003204        40.749134         -73.990127
49999998        -73.989094        40.769359         -73.991818
49999999        -73.963602        40.771268         -73.954070

          dropoff_latitude  passenger_count
49000000         40.750142                2
49000001         40.745175                1
49000002         40.739267                4
49000003         40.839908                1
49000004         40.793999                1
...                    ...              ...
49999995         40.760445                1
49999996         40.734609                2
49999997         40.746652                2
49999998         40.751508                1
49999999         40.766380                2

[1000000 rows x 8 columns]
                                    key  fare_amount          pickup_datetime  \
50000000    2013-06-08 00:36:49.0000002          9.0  2013-06-08 00:36:49 UTC
50000001    2009-04-12 03:26:22.0000001         14.6  2009-04-12 03:26:22 UTC
50000002    2010-01-28 16:54:00.0000001         16.9  2010-01-28 16:54:00 UTC
50000003    2010-08-15 20:52:19.0000003          5.7  2010-08-15 20:52:19 UTC
50000004    2010-02-06 10:58:03.0000002          4.9  2010-02-06 10:58:03 UTC
...                                 ...          ...                      ...
50999995  2010-02-20 02:13:00.000000141          6.9  2010-02-20 02:13:00 UTC
50999996  2011-01-14 00:04:00.000000114         10.9  2011-01-14 00:04:00 UTC
50999997    2012-02-23 20:41:50.0000002          7.7  2012-02-23 20:41:50 UTC
50999998    2012-06-01 09:01:39.0000001          4.5  2012-06-01 09:01:39 UTC
50999999   2013-04-05 11:46:00.00000090          4.5  2013-04-05 11:46:00 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
50000000        -73.971130        40.758652         -73.991983
50000001        -74.005165        40.720797         -73.953715
50000002        -74.006768        40.707433         -73.968560
50000003        -73.987213        40.748833         -73.906247
50000004        -73.981644        40.737111         -73.993255
...                    ...              ...                ...
50999995        -74.003197        40.733163         -73.985125
50999996        -73.955925        40.772145         -73.990487
50999997        -73.957413        40.712940         -73.957429
50999998        -73.967620        40.752809         -73.967496
50999999        -73.969545        40.760402         -73.975772

          dropoff_latitude  passenger_count
50000000         40.743265                1
50000001         40.770970                3
50000002         40.764425                1
50000003         40.742360                1
50000004         40.727119                1
...                    ...              ...
50999995         40.748052                5
50999996         40.740433                1
50999997         40.728632                2
50999998         40.758630                1
50999999         40.751402                1

[1000000 rows x 8 columns]
                                    key  fare_amount          pickup_datetime  \
51000000    2009-04-07 18:12:44.0000004         7.70  2009-04-07 18:12:44 UTC
51000001  2010-04-08 23:37:00.000000232         7.70  2010-04-08 23:37:00 UTC
51000002  2010-11-17 19:21:00.000000164        28.10  2010-11-17 19:21:00 UTC
51000003    2012-05-07 12:11:53.0000001        13.30  2012-05-07 12:11:53 UTC
51000004    2012-08-23 06:12:34.0000001         4.50  2012-08-23 06:12:34 UTC
...                                 ...          ...                      ...
51999995   2014-04-12 17:24:00.00000023        32.33  2014-04-12 17:24:00 UTC
51999996   2009-07-11 01:14:00.00000037        12.10  2009-07-11 01:14:00 UTC
51999997    2011-07-11 07:54:46.0000001         8.90  2011-07-11 07:54:46 UTC
51999998   2014-12-13 22:43:00.00000048        19.00  2014-12-13 22:43:00 UTC
51999999    2015-06-05 14:25:52.0000007        31.00  2015-06-05 14:25:52 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
51000000        -73.967231        40.763061         -73.982416
51000001        -73.982033        40.773897         -73.964477
51000002        -73.992448        40.725318         -73.979228
51000003          0.000000         0.000000           0.000000
51000004        -73.993913        40.751580         -73.985915
...                    ...              ...                ...
51999995        -73.986507        40.754080         -73.983267
51999996        -73.982843        40.755910         -73.954960
51999997        -73.965600        40.790500         -73.971500
51999998        -73.976300        40.755192         -74.005190
51999999        -73.993317        40.751728         -73.960732

          dropoff_latitude  passenger_count
51000000         40.755617                2
51000001         40.806917                2
51000002         40.605530                1
51000003          0.000000                1
51000004         40.760753                1
...                    ...              ...
51999995         40.734742                1
51999996         40.804800                5
51999997         40.758100                1
51999998         40.709415                6
51999999         40.699711                1

[1000000 rows x 8 columns]

                                    key  fare_amount          pickup_datetime  \
52000000   2010-06-29 08:31:00.00000057         8.10  2010-06-29 08:31:00 UTC
52000001    2009-01-30 20:05:24.0000001         7.40  2009-01-30 20:05:24 UTC
52000002   2013-05-03 12:06:00.00000034        19.00  2013-05-03 12:06:00 UTC
52000003    2013-09-11 17:48:41.0000002        57.33  2013-09-11 17:48:41 UTC
52000004    2014-01-18 10:04:10.0000003        11.00  2014-01-18 10:04:10 UTC
...                                 ...          ...                      ...
52999995    2009-05-22 16:49:44.0000002         3.30  2009-05-22 16:49:44 UTC
52999996  2010-04-14 09:47:00.000000104         8.50  2010-04-14 09:47:00 UTC
52999997  2011-03-27 02:50:00.000000169         6.50  2011-03-27 02:50:00 UTC
52999998  2012-05-19 17:39:00.000000110        16.50  2012-05-19 17:39:00 UTC
52999999    2014-05-03 01:56:29.0000001         6.50  2014-05-03 01:56:29 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
52000000        -73.973895        40.750343         -73.969208
52000001        -73.985115        40.732250         -73.999430
52000002        -74.005415        40.727977         -73.948787
52000003        -73.790457        40.644598         -73.790457
52000004        -73.960542        40.770002         -73.966406
...                    ...              ...                ...
52999995        -74.002085        40.729834         -73.995952
52999996        -73.898447        40.749158         -73.907440
52999997        -73.995725        40.724885         -73.984017
52999998        -73.950837        40.783053         -74.001685
52999999        -74.005665        40.740123         -73.992139

          dropoff_latitude  passenger_count
52000000         40.763865                5
52000001         40.734097                1
52000002         40.707500                1
52000003         40.644598                3
52000004         40.757736                1
...                    ...              ...
52999995         40.733768                1
52999996         40.749882                1
52999997         40.738077                1
52999998         40.732368                3
52999999         40.746610                1

[1000000 rows x 8 columns]
                                    key  fare_amount          pickup_datetime  \
53000000   2013-06-24 00:25:00.00000098        57.33  2013-06-24 00:25:00 UTC
53000001   2014-10-16 10:02:00.00000024         4.50  2014-10-16 10:02:00 UTC
53000002    2015-04-04 17:09:06.0000009         9.50  2015-04-04 17:09:06 UTC
53000003    2009-09-11 05:01:00.0000005         9.70  2009-09-11 05:01:00 UTC
53000004   2010-02-17 19:06:00.00000094         9.30  2010-02-17 19:06:00 UTC
...                                 ...          ...                      ...
53999995   2011-12-31 19:03:00.00000010         7.70  2011-12-31 19:03:00 UTC
53999996  2010-04-04 01:12:00.000000142         4.90  2010-04-04 01:12:00 UTC
53999997    2010-09-09 17:14:44.0000001         8.10  2010-09-09 17:14:44 UTC
53999998    2011-12-21 11:05:05.0000002         5.70  2011-12-21 11:05:05 UTC
53999999    2012-03-23 22:06:45.0000003         4.90  2012-03-23 22:06:45 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
53000000        -73.861655        40.734877         -73.996745
53000001        -73.974885        40.755492         -73.971638
53000002        -73.956505        40.767174         -73.951294
53000003        -73.832112        40.700725         -73.804753
53000004        -73.985857        40.757758         -73.994568
...                    ...              ...                ...
53999995        -73.950505        40.775205         -73.971928
53999996        -73.980280        40.760510         -73.983272
53999997        -73.981572        40.778603         -73.962690
53999998        -73.991320        40.770166         -73.973047
53999999        -73.988907        40.726701         -73.983952

          dropoff_latitude  passenger_count
53000000         40.757857                1
53000001         40.760065                1
53000002         40.786068                1
53000003         40.717802                1
53000004         40.734852                1
...                    ...              ...
53999995         40.757102                1
53999996         40.749448                1
53999997         40.762437                2
53999998         40.762431                1
53999999         40.737637                1

[1000000 rows x 8 columns]
                                    key  fare_amount          pickup_datetime  \
54000000    2010-04-13 08:35:24.0000007         5.30  2010-04-13 08:35:24 UTC
54000001    2010-11-19 18:16:28.0000004        26.27  2010-11-19 18:16:28 UTC
54000002    2009-05-16 21:58:09.0000006         6.10  2009-05-16 21:58:09 UTC
54000003  2010-02-27 22:31:00.000000309         5.30  2010-02-27 22:31:00 UTC
54000004   2011-05-23 01:08:00.00000026        13.70  2011-05-23 01:08:00 UTC
...                                 ...          ...                      ...
54999995    2012-05-31 00:58:54.0000004        11.70  2012-05-31 00:58:54 UTC
54999996    2013-08-25 03:23:00.0000003        12.50  2013-08-25 03:23:00 UTC
54999997   2013-12-03 20:31:00.00000046         6.50  2013-12-03 20:31:00 UTC
54999998    2015-02-14 15:11:33.0000002         7.50  2015-02-14 15:11:33 UTC
54999999    2015-04-16 18:42:55.0000008         6.50  2015-04-16 18:42:55 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
54000000        -73.983592        40.781047         -73.979852
54000001          0.000000         0.000000           0.000000
54000002        -73.982016        40.740356         -73.988029
54000003        -73.979163        40.767065         -73.973622
54000004        -73.983012        40.730693         -73.952145
...                    ...              ...                ...
54999995        -73.992345        40.745137         -74.006007
54999996        -73.991940        40.725842         -73.978217
54999997        -73.961147        40.774217         -73.976897
54999998        -73.996964        40.752453         -74.005409
54999999        -74.001862        40.730518         -73.991386

          dropoff_latitude  passenger_count
54000000         40.770938                1
54000001          0.000000                2
54000002         40.745915                1
54000003         40.779387                1
54000004         40.734035                1
...                    ...              ...
54999995         40.706587                1
54999996         40.757660                2
54999997         40.750675                1
54999998         40.742172                2
54999999         40.744812                5

[1000000 rows x 8 columns]
                                   key  fare_amount          pickup_datetime  \
55000000  2009-06-30 09:25:00.00000094          6.5  2009-06-30 09:25:00 UTC
55000001   2009-09-28 18:04:43.0000001          5.7  2009-09-28 18:04:43 UTC
55000002   2010-05-22 22:54:51.0000003         10.9  2010-05-22 22:54:51 UTC
55000003   2013-10-24 20:03:46.0000004          8.0  2013-10-24 20:03:46 UTC
55000004  2013-12-20 00:52:00.00000041          9.5  2013-12-20 00:52:00 UTC
...                                ...          ...                      ...
55423851  2014-03-15 03:28:00.00000070         14.0  2014-03-15 03:28:00 UTC
55423852   2009-03-24 20:46:20.0000002          4.2  2009-03-24 20:46:20 UTC
55423853   2011-04-02 22:04:24.0000004         14.1  2011-04-02 22:04:24 UTC
55423854   2011-10-26 05:57:51.0000002         28.9  2011-10-26 05:57:51 UTC
55423855  2014-12-12 11:33:00.00000015          7.5  2014-12-12 11:33:00 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
55000000        -73.990421        40.718843         -74.000060
55000001        -73.974759        40.749067         -73.983955
55000002        -73.981731        40.722242         -74.006415
55000003        -73.990378        40.751507         -74.005202
55000004        -73.977433        40.668257         -73.951930
...                    ...              ...                ...
55423851        -74.005272        40.740027         -73.963280
55423852        -73.957784        40.765530         -73.951640
55423853        -73.970505        40.752325         -73.960537
55423854        -73.980901        40.764629         -73.870605
55423855        -73.969722        40.797668         -73.970885

          dropoff_latitude  passenger_count
55000000         40.727895                1
55000001         40.736129                1
55000002         40.708414                1
55000003         40.741458                2
55000004         40.683825                1
...                    ...              ...
55423851         40.762555                1
55423852         40.773959                1
55423853         40.797342                1
55423854         40.773963                1
55423855         40.783313                1

[423856 rows x 8 columns]

In [13]:
#Para tratar un dato en formato fecha, convertiremos a ordinal
import datetime as dt
MuestraDatos = pd.read_csv('train.csv', nrows=10)
FechaHoraInicio="pickup_datetime"
print(MuestraDatos[FechaHoraInicio])
MuestraDatos[FechaHoraInicio]=pd.to_datetime(MuestraDatos[FechaHoraInicio])
MuestraDatos[FechaHoraInicio]=MuestraDatos[FechaHoraInicio].map(dt.datetime.toordinal)
print(MuestraDatos[FechaHoraInicio])

0    2009-06-15 17:26:21 UTC
1    2010-01-05 16:52:16 UTC
2    2011-08-18 00:35:00 UTC
3    2012-04-21 04:30:42 UTC
4    2010-03-09 07:51:00 UTC
5    2011-01-06 09:50:45 UTC
6    2012-11-20 20:35:00 UTC
7    2012-01-04 17:22:00 UTC
8    2012-12-03 13:10:00 UTC
9    2009-09-02 01:11:00 UTC
Name: pickup_datetime, dtype: object
0    733573
1    733777
2    734367
3    734614
4    733840
5    734143
6    734827
7    734506
8    734840
9    733652
Name: pickup_datetime, dtype: int64

In [21]:
#Tomamos una muestra de los datos para obtener informacion de la data
MuestraDatos = pd.read_csv('train.csv', nrows=10)
MuestraDatos['passenger_count']

0    1
1    1
2    2
3    1
4    1
5    1
6    1
7    1
8    1
9    2
Name: passenger_count, dtype: int64

In [22]:
import pandas as pd
import datetime as dt
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
predictores = ['pickup_datetime','pickup_longitude','pickup_latitude','dropoff_longitude','dropoff_latitude','passenger_count']
salida = 'fare_amount'
FechaHoraInicio="pickup_datetime"
TamañoChunks = 10 ** 6
for chunk in pd.read_csv('train.csv', chunksize=TamañoChunks):
    chunk[FechaHoraInicio]=pd.to_datetime(chunk[FechaHoraInicio])
    chunk[FechaHoraInicio]=chunk[FechaHoraInicio].map(dt.datetime.toordinal)
    scaler.partial_fit(chunk[predictores])
for chunk in pd.read_csv('train.csv', chunksize=TamañoChunks):
    DataEscalada= scaler.transform(chunk[predictores])
    print(DataEscalada)

KeyboardInterrupt: