In [2]:
!conda install -yc conda-forge xgboost

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\cesar\anaconda3

  added / updated specs:
    - xgboost


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    _py-xgboost-mutex-2.0      |            cpu_0          11 KB  conda-forge
    conda-4.10.1               |   py38haa244fe_0         3.1 MB  conda-forge
    libxgboost-1.4.0           |       h0e60522_0         2.2 MB  conda-forge
    py-xgboost-1.4.0           |   py38haa244fe_0         141 KB  conda-forge
    python_abi-3.8             |           1_cp38           4 KB  conda-forge
    xgboost-1.4.0              |   py38haa244fe_0          11 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         5.4 MB

The following NEW packages will be INSTALLED:

  _py-xgboost-mutex  conda-forge/win-64::_py-xgboost-mutex-2.0-cpu_0
  libxgboost         conda-forge/win-64::libxgboost-1.4.0-h0e60522_0
  py-xgboost         conda-forge/win-64::py-xgboost-1.4.0-py38haa244fe_0
  python_abi         conda-forge/win-64::python_abi-3.8-1_cp38
  xgboost            conda-forge/win-64::xgboost-1.4.0-py38haa244fe_0

The following packages will be SUPERSEDED by a higher-priority channel:

  conda              pkgs/main::conda-4.10.1-py38haa95532_1 --> conda-forge::conda-4.10.1-py38haa244fe_0



Downloading and Extracting Packages

conda-4.10.1         | 3.1 MB    |            |   0%
conda-4.10.1         | 3.1 MB    |            |   1%
conda-4.10.1         | 3.1 MB    | 2          |   2%
conda-4.10.1         | 3.1 MB    | 5          |   5%
conda-4.10.1         | 3.1 MB    | 9          |   9%
conda-4.10.1         | 3.1 MB    | #3         |  13%
conda-4.10.1         | 3.1 MB    | ##3        |  24%
conda-4.10.1         | 3.1 MB    | ###5       |  36%
conda-4.10.1         | 3.1 MB    | ########5  |  86%
conda-4.10.1         | 3.1 MB    | ########## | 100%

py-xgboost-1.4.0     | 141 KB    |            |   0%
py-xgboost-1.4.0     | 141 KB    | #1         |  11%
py-xgboost-1.4.0     | 141 KB    | ########## | 100%

xgboost-1.4.0        | 11 KB     |            |   0%
xgboost-1.4.0        | 11 KB     | ########## | 100%
xgboost-1.4.0        | 11 KB     | ########## | 100%

libxgboost-1.4.0     | 2.2 MB    |            |   0%
libxgboost-1.4.0     | 2.2 MB    |            |   1%
libxgboost-1.4.0     | 2.2 MB    | 5          |   6%
libxgboost-1.4.0     | 2.2 MB    | #3         |  14%
libxgboost-1.4.0     | 2.2 MB    | ###8       |  38%
libxgboost-1.4.0     | 2.2 MB    | ######5    |  65%
libxgboost-1.4.0     | 2.2 MB    | ########## | 100%
libxgboost-1.4.0     | 2.2 MB    | ########## | 100%

python_abi-3.8       | 4 KB      |            |   0%
python_abi-3.8       | 4 KB      | ########## | 100%
python_abi-3.8       | 4 KB      | ########## | 100%

_py-xgboost-mutex-2. | 11 KB     |            |   0%
_py-xgboost-mutex-2. | 11 KB     | ########## | 100%
_py-xgboost-mutex-2. | 11 KB     | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

In [5]:
from sys import getsizeof

In [7]:
import pandas as pd

<font size="5"> Una Lectura completa de la data se nos hace bien difícil en una PC casual que no tenga tanta ram o memoria suficiente también influye el procesador, por lo que se optara por la lectura usando chunks</font>

In [8]:
#Datos=pd.read_csv('train.csv') ->Nuestra data proporcionada
import datetime as dt
data_reduce=pd.DataFrame({},columns = ['fare_amount', 'pickup_datetime', 'pickup_longitude','pickup_latitude','dropoff_longitude','dropoff_latitude','passenger_count'])
TamañoChunks = 100000
iteracion=0
size=0
for chunk in pd.read_csv('train.csv', chunksize=TamañoChunks):
        chunk['pickup_datetime']=pd.to_datetime(chunk['pickup_datetime'])
        chunk['pickup_datetime']=chunk['pickup_datetime'].map(dt.datetime.toordinal)
        chunk['pickup_datetime']=chunk['pickup_datetime'].astype('uint32')      
        chunk['fare_amount']=chunk['fare_amount'].astype('float32')
        chunk['passenger_count']=chunk['passenger_count'].astype('uint8')
        #print(getsizeof(chunk.iloc[[1,3,4,5,6,7]]))
        
        
data_reduce = pd.concat([data_reduce, chunk.drop(['key'], axis=1)])
        iteracion=iteracion+1
        print('Chunk dataframe %d '%iteracion +'size acumulado: %2.4f GB'%(getsizeof(data_reduce)/(1024.0**3)))

Chunk dataframe 1 size acumulado: 0.0108 GB
Chunk dataframe 2 size acumulado: 0.0216 GB
Chunk dataframe 3 size acumulado: 0.0324 GB
Chunk dataframe 4 size acumulado: 0.0432 GB
Chunk dataframe 5 size acumulado: 0.0540 GB
Chunk dataframe 6 size acumulado: 0.0648 GB
Chunk dataframe 7 size acumulado: 0.0756 GB
Chunk dataframe 8 size acumulado: 0.0864 GB
Chunk dataframe 9 size acumulado: 0.0972 GB
Chunk dataframe 10 size acumulado: 0.1080 GB
Chunk dataframe 11 size acumulado: 0.1188 GB
Chunk dataframe 12 size acumulado: 0.1296 GB
Chunk dataframe 13 size acumulado: 0.1404 GB
Chunk dataframe 14 size acumulado: 0.1512 GB
Chunk dataframe 15 size acumulado: 0.1620 GB
Chunk dataframe 16 size acumulado: 0.1728 GB
Chunk dataframe 17 size acumulado: 0.1836 GB
Chunk dataframe 18 size acumulado: 0.1944 GB
Chunk dataframe 19 size acumulado: 0.2052 GB
Chunk dataframe 20 size acumulado: 0.2160 GB
Chunk dataframe 21 size acumulado: 0.2268 GB
Chunk dataframe 22 size acumulado: 0.2376 GB
Chunk dataframe 23 size acumulado: 0.2484 GB
Chunk dataframe 24 size acumulado: 0.2592 GB
Chunk dataframe 25 size acumulado: 0.2701 GB
Chunk dataframe 26 size acumulado: 0.2809 GB
Chunk dataframe 27 size acumulado: 0.2917 GB
Chunk dataframe 28 size acumulado: 0.3025 GB
Chunk dataframe 29 size acumulado: 0.3133 GB
Chunk dataframe 30 size acumulado: 0.3241 GB
Chunk dataframe 31 size acumulado: 0.3349 GB
Chunk dataframe 32 size acumulado: 0.3457 GB
Chunk dataframe 33 size acumulado: 0.3565 GB
Chunk dataframe 34 size acumulado: 0.3673 GB
Chunk dataframe 35 size acumulado: 0.3781 GB
Chunk dataframe 36 size acumulado: 0.3889 GB
Chunk dataframe 37 size acumulado: 0.3997 GB
Chunk dataframe 38 size acumulado: 0.4105 GB
Chunk dataframe 39 size acumulado: 0.4213 GB
Chunk dataframe 40 size acumulado: 0.4321 GB
Chunk dataframe 41 size acumulado: 0.4429 GB
Chunk dataframe 42 size acumulado: 0.4537 GB
Chunk dataframe 43 size acumulado: 0.4645 GB
Chunk dataframe 44 size acumulado: 0.4753 GB
Chunk dataframe 45 size acumulado: 0.4861 GB
Chunk dataframe 46 size acumulado: 0.4969 GB
Chunk dataframe 47 size acumulado: 0.5077 GB
Chunk dataframe 48 size acumulado: 0.5185 GB
Chunk dataframe 49 size acumulado: 0.5293 GB
Chunk dataframe 50 size acumulado: 0.5401 GB
Chunk dataframe 51 size acumulado: 0.5509 GB
Chunk dataframe 52 size acumulado: 0.5617 GB
Chunk dataframe 53 size acumulado: 0.5725 GB
Chunk dataframe 54 size acumulado: 0.5833 GB
Chunk dataframe 55 size acumulado: 0.5941 GB
Chunk dataframe 56 size acumulado: 0.6049 GB
Chunk dataframe 57 size acumulado: 0.6157 GB
Chunk dataframe 58 size acumulado: 0.6265 GB
Chunk dataframe 59 size acumulado: 0.6373 GB
Chunk dataframe 60 size acumulado: 0.6481 GB
Chunk dataframe 61 size acumulado: 0.6589 GB
Chunk dataframe 62 size acumulado: 0.6697 GB
Chunk dataframe 63 size acumulado: 0.6805 GB
Chunk dataframe 64 size acumulado: 0.6913 GB
Chunk dataframe 65 size acumulado: 0.7021 GB
Chunk dataframe 66 size acumulado: 0.7129 GB
Chunk dataframe 67 size acumulado: 0.7237 GB
Chunk dataframe 68 size acumulado: 0.7345 GB
Chunk dataframe 69 size acumulado: 0.7453 GB
Chunk dataframe 70 size acumulado: 0.7561 GB
Chunk dataframe 71 size acumulado: 0.7669 GB
Chunk dataframe 72 size acumulado: 0.7777 GB
Chunk dataframe 73 size acumulado: 0.7885 GB
Chunk dataframe 74 size acumulado: 0.7993 GB
Chunk dataframe 75 size acumulado: 0.8102 GB
Chunk dataframe 76 size acumulado: 0.8210 GB
Chunk dataframe 77 size acumulado: 0.8318 GB
Chunk dataframe 78 size acumulado: 0.8426 GB
Chunk dataframe 79 size acumulado: 0.8534 GB
Chunk dataframe 80 size acumulado: 0.8642 GB
Chunk dataframe 81 size acumulado: 0.8750 GB
Chunk dataframe 82 size acumulado: 0.8858 GB
Chunk dataframe 83 size acumulado: 0.8966 GB
Chunk dataframe 84 size acumulado: 0.9074 GB
Chunk dataframe 85 size acumulado: 0.9182 GB
Chunk dataframe 86 size acumulado: 0.9290 GB
Chunk dataframe 87 size acumulado: 0.9398 GB
Chunk dataframe 88 size acumulado: 0.9506 GB
Chunk dataframe 89 size acumulado: 0.9614 GB
Chunk dataframe 90 size acumulado: 0.9722 GB
Chunk dataframe 91 size acumulado: 0.9830 GB
Chunk dataframe 92 size acumulado: 0.9938 GB
Chunk dataframe 93 size acumulado: 1.0046 GB
Chunk dataframe 94 size acumulado: 1.0154 GB
Chunk dataframe 95 size acumulado: 1.0262 GB
Chunk dataframe 96 size acumulado: 1.0370 GB
Chunk dataframe 97 size acumulado: 1.0478 GB
Chunk dataframe 98 size acumulado: 1.0586 GB
Chunk dataframe 99 size acumulado: 1.0694 GB
Chunk dataframe 100 size acumulado: 1.0802 GB
Chunk dataframe 101 size acumulado: 1.0910 GB
Chunk dataframe 102 size acumulado: 1.1018 GB
Chunk dataframe 103 size acumulado: 1.1126 GB
Chunk dataframe 104 size acumulado: 1.1234 GB
Chunk dataframe 105 size acumulado: 1.1342 GB
Chunk dataframe 106 size acumulado: 1.1450 GB
Chunk dataframe 107 size acumulado: 1.1558 GB
Chunk dataframe 108 size acumulado: 1.1666 GB
Chunk dataframe 109 size acumulado: 1.1774 GB
Chunk dataframe 110 size acumulado: 1.1882 GB
Chunk dataframe 111 size acumulado: 1.1990 GB
Chunk dataframe 112 size acumulado: 1.2098 GB
Chunk dataframe 113 size acumulado: 1.2206 GB
Chunk dataframe 114 size acumulado: 1.2314 GB
Chunk dataframe 115 size acumulado: 1.2422 GB
Chunk dataframe 116 size acumulado: 1.2530 GB
Chunk dataframe 117 size acumulado: 1.2638 GB
Chunk dataframe 118 size acumulado: 1.2746 GB
Chunk dataframe 119 size acumulado: 1.2854 GB
Chunk dataframe 120 size acumulado: 1.2962 GB
Chunk dataframe 121 size acumulado: 1.3070 GB
Chunk dataframe 122 size acumulado: 1.3178 GB
Chunk dataframe 123 size acumulado: 1.3286 GB
Chunk dataframe 124 size acumulado: 1.3395 GB
Chunk dataframe 125 size acumulado: 1.3503 GB
Chunk dataframe 126 size acumulado: 1.3611 GB
Chunk dataframe 127 size acumulado: 1.3719 GB
Chunk dataframe 128 size acumulado: 1.3827 GB
Chunk dataframe 129 size acumulado: 1.3935 GB
Chunk dataframe 130 size acumulado: 1.4043 GB
Chunk dataframe 131 size acumulado: 1.4151 GB
Chunk dataframe 132 size acumulado: 1.4259 GB
Chunk dataframe 133 size acumulado: 1.4367 GB
Chunk dataframe 134 size acumulado: 1.4475 GB
Chunk dataframe 135 size acumulado: 1.4583 GB
Chunk dataframe 136 size acumulado: 1.4691 GB
Chunk dataframe 137 size acumulado: 1.4799 GB
Chunk dataframe 138 size acumulado: 1.4907 GB
Chunk dataframe 139 size acumulado: 1.5015 GB
Chunk dataframe 140 size acumulado: 1.5123 GB
Chunk dataframe 141 size acumulado: 1.5231 GB
Chunk dataframe 142 size acumulado: 1.5339 GB
Chunk dataframe 143 size acumulado: 1.5447 GB
Chunk dataframe 144 size acumulado: 1.5555 GB
Chunk dataframe 145 size acumulado: 1.5663 GB
Chunk dataframe 146 size acumulado: 1.5771 GB
Chunk dataframe 147 size acumulado: 1.5879 GB
Chunk dataframe 148 size acumulado: 1.5987 GB
Chunk dataframe 149 size acumulado: 1.6095 GB
Chunk dataframe 150 size acumulado: 1.6203 GB
Chunk dataframe 151 size acumulado: 1.6311 GB
Chunk dataframe 152 size acumulado: 1.6419 GB
Chunk dataframe 153 size acumulado: 1.6527 GB
Chunk dataframe 154 size acumulado: 1.6635 GB
Chunk dataframe 155 size acumulado: 1.6743 GB
Chunk dataframe 156 size acumulado: 1.6851 GB
Chunk dataframe 157 size acumulado: 1.6959 GB
Chunk dataframe 158 size acumulado: 1.7067 GB
Chunk dataframe 159 size acumulado: 1.7175 GB
Chunk dataframe 160 size acumulado: 1.7283 GB
Chunk dataframe 161 size acumulado: 1.7391 GB
Chunk dataframe 162 size acumulado: 1.7499 GB
Chunk dataframe 163 size acumulado: 1.7607 GB
Chunk dataframe 164 size acumulado: 1.7715 GB
Chunk dataframe 165 size acumulado: 1.7823 GB
Chunk dataframe 166 size acumulado: 1.7931 GB
Chunk dataframe 167 size acumulado: 1.8039 GB
Chunk dataframe 168 size acumulado: 1.8147 GB
Chunk dataframe 169 size acumulado: 1.8255 GB
Chunk dataframe 170 size acumulado: 1.8363 GB
Chunk dataframe 171 size acumulado: 1.8471 GB
Chunk dataframe 172 size acumulado: 1.8579 GB
Chunk dataframe 173 size acumulado: 1.8688 GB
Chunk dataframe 174 size acumulado: 1.8796 GB
Chunk dataframe 175 size acumulado: 1.8904 GB
Chunk dataframe 176 size acumulado: 1.9012 GB
Chunk dataframe 177 size acumulado: 1.9120 GB
Chunk dataframe 178 size acumulado: 1.9228 GB
Chunk dataframe 179 size acumulado: 1.9336 GB
Chunk dataframe 180 size acumulado: 1.9444 GB
Chunk dataframe 181 size acumulado: 1.9552 GB

Chunk dataframe 182 size acumulado: 1.9660 GB
Chunk dataframe 183 size acumulado: 1.9768 GB
Chunk dataframe 184 size acumulado: 1.9876 GB
Chunk dataframe 185 size acumulado: 1.9984 GB
Chunk dataframe 186 size acumulado: 2.0092 GB
Chunk dataframe 187 size acumulado: 2.0200 GB
Chunk dataframe 188 size acumulado: 2.0308 GB
Chunk dataframe 189 size acumulado: 2.0416 GB
Chunk dataframe 190 size acumulado: 2.0524 GB
Chunk dataframe 191 size acumulado: 2.0632 GB
Chunk dataframe 192 size acumulado: 2.0740 GB
Chunk dataframe 193 size acumulado: 2.0848 GB
Chunk dataframe 194 size acumulado: 2.0956 GB
Chunk dataframe 195 size acumulado: 2.1064 GB
Chunk dataframe 196 size acumulado: 2.1172 GB
Chunk dataframe 197 size acumulado: 2.1280 GB
Chunk dataframe 198 size acumulado: 2.1388 GB
Chunk dataframe 199 size acumulado: 2.1496 GB
Chunk dataframe 200 size acumulado: 2.1604 GB
Chunk dataframe 201 size acumulado: 2.1712 GB
Chunk dataframe 202 size acumulado: 2.1820 GB
Chunk dataframe 203 size acumulado: 2.1928 GB
Chunk dataframe 204 size acumulado: 2.2036 GB
Chunk dataframe 205 size acumulado: 2.2144 GB
Chunk dataframe 206 size acumulado: 2.2252 GB
Chunk dataframe 207 size acumulado: 2.2360 GB
Chunk dataframe 208 size acumulado: 2.2468 GB
Chunk dataframe 209 size acumulado: 2.2576 GB
Chunk dataframe 210 size acumulado: 2.2684 GB
Chunk dataframe 211 size acumulado: 2.2792 GB
Chunk dataframe 212 size acumulado: 2.2900 GB
Chunk dataframe 213 size acumulado: 2.3008 GB
Chunk dataframe 214 size acumulado: 2.3116 GB
Chunk dataframe 215 size acumulado: 2.3224 GB
Chunk dataframe 216 size acumulado: 2.3332 GB
Chunk dataframe 217 size acumulado: 2.3440 GB
Chunk dataframe 218 size acumulado: 2.3548 GB
Chunk dataframe 219 size acumulado: 2.3656 GB
Chunk dataframe 220 size acumulado: 2.3764 GB
Chunk dataframe 221 size acumulado: 2.3872 GB
Chunk dataframe 222 size acumulado: 2.3980 GB
Chunk dataframe 223 size acumulado: 2.4089 GB
Chunk dataframe 224 size acumulado: 2.4197 GB
Chunk dataframe 225 size acumulado: 2.4305 GB
Chunk dataframe 226 size acumulado: 2.4413 GB
Chunk dataframe 227 size acumulado: 2.4521 GB
Chunk dataframe 228 size acumulado: 2.4629 GB
Chunk dataframe 229 size acumulado: 2.4737 GB
Chunk dataframe 230 size acumulado: 2.4845 GB
Chunk dataframe 231 size acumulado: 2.4953 GB
Chunk dataframe 232 size acumulado: 2.5061 GB
Chunk dataframe 233 size acumulado: 2.5169 GB
Chunk dataframe 234 size acumulado: 2.5277 GB
Chunk dataframe 235 size acumulado: 2.5385 GB
Chunk dataframe 236 size acumulado: 2.5493 GB
Chunk dataframe 237 size acumulado: 2.5601 GB
Chunk dataframe 238 size acumulado: 2.5709 GB
Chunk dataframe 239 size acumulado: 2.5817 GB
Chunk dataframe 240 size acumulado: 2.5925 GB
Chunk dataframe 241 size acumulado: 2.6033 GB
Chunk dataframe 242 size acumulado: 2.6141 GB
Chunk dataframe 243 size acumulado: 2.6249 GB
Chunk dataframe 244 size acumulado: 2.6357 GB
Chunk dataframe 245 size acumulado: 2.6465 GB
Chunk dataframe 246 size acumulado: 2.6573 GB
Chunk dataframe 247 size acumulado: 2.6681 GB
Chunk dataframe 248 size acumulado: 2.6789 GB
Chunk dataframe 249 size acumulado: 2.6897 GB
Chunk dataframe 250 size acumulado: 2.7005 GB
Chunk dataframe 251 size acumulado: 2.7113 GB
Chunk dataframe 252 size acumulado: 2.7221 GB
Chunk dataframe 253 size acumulado: 2.7329 GB
Chunk dataframe 254 size acumulado: 2.7437 GB
Chunk dataframe 255 size acumulado: 2.7545 GB
Chunk dataframe 256 size acumulado: 2.7653 GB
Chunk dataframe 257 size acumulado: 2.7761 GB
Chunk dataframe 258 size acumulado: 2.7869 GB
Chunk dataframe 259 size acumulado: 2.7977 GB
Chunk dataframe 260 size acumulado: 2.8085 GB
Chunk dataframe 261 size acumulado: 2.8193 GB
Chunk dataframe 262 size acumulado: 2.8301 GB
Chunk dataframe 263 size acumulado: 2.8409 GB
Chunk dataframe 264 size acumulado: 2.8517 GB
Chunk dataframe 265 size acumulado: 2.8625 GB
Chunk dataframe 266 size acumulado: 2.8733 GB
Chunk dataframe 267 size acumulado: 2.8841 GB
Chunk dataframe 268 size acumulado: 2.8949 GB
Chunk dataframe 269 size acumulado: 2.9057 GB
Chunk dataframe 270 size acumulado: 2.9165 GB
Chunk dataframe 271 size acumulado: 2.9273 GB
Chunk dataframe 272 size acumulado: 2.9382 GB
Chunk dataframe 273 size acumulado: 2.9490 GB
Chunk dataframe 274 size acumulado: 2.9598 GB
Chunk dataframe 275 size acumulado: 2.9706 GB
Chunk dataframe 276 size acumulado: 2.9814 GB
Chunk dataframe 277 size acumulado: 2.9922 GB
Chunk dataframe 278 size acumulado: 3.0030 GB
Chunk dataframe 279 size acumulado: 3.0138 GB
Chunk dataframe 280 size acumulado: 3.0246 GB
Chunk dataframe 281 size acumulado: 3.0354 GB
Chunk dataframe 282 size acumulado: 3.0462 GB
Chunk dataframe 283 size acumulado: 3.0570 GB
Chunk dataframe 284 size acumulado: 3.0678 GB
Chunk dataframe 285 size acumulado: 3.0786 GB
Chunk dataframe 286 size acumulado: 3.0894 GB
Chunk dataframe 287 size acumulado: 3.1002 GB
Chunk dataframe 288 size acumulado: 3.1110 GB
Chunk dataframe 289 size acumulado: 3.1218 GB
Chunk dataframe 290 size acumulado: 3.1326 GB
Chunk dataframe 291 size acumulado: 3.1434 GB
Chunk dataframe 292 size acumulado: 3.1542 GB
Chunk dataframe 293 size acumulado: 3.1650 GB
Chunk dataframe 294 size acumulado: 3.1758 GB
Chunk dataframe 295 size acumulado: 3.1866 GB
Chunk dataframe 296 size acumulado: 3.1974 GB
Chunk dataframe 297 size acumulado: 3.2082 GB
Chunk dataframe 298 size acumulado: 3.2190 GB
Chunk dataframe 299 size acumulado: 3.2298 GB
Chunk dataframe 300 size acumulado: 3.2406 GB
Chunk dataframe 301 size acumulado: 3.2514 GB
Chunk dataframe 302 size acumulado: 3.2622 GB
Chunk dataframe 303 size acumulado: 3.2730 GB
Chunk dataframe 304 size acumulado: 3.2838 GB
Chunk dataframe 305 size acumulado: 3.2946 GB
Chunk dataframe 306 size acumulado: 3.3054 GB
Chunk dataframe 307 size acumulado: 3.3162 GB
Chunk dataframe 308 size acumulado: 3.3270 GB
Chunk dataframe 309 size acumulado: 3.3378 GB
Chunk dataframe 310 size acumulado: 3.3486 GB
Chunk dataframe 311 size acumulado: 3.3594 GB
Chunk dataframe 312 size acumulado: 3.3702 GB
Chunk dataframe 313 size acumulado: 3.3810 GB
Chunk dataframe 314 size acumulado: 3.3918 GB
Chunk dataframe 315 size acumulado: 3.4026 GB
Chunk dataframe 316 size acumulado: 3.4134 GB
Chunk dataframe 317 size acumulado: 3.4242 GB
Chunk dataframe 318 size acumulado: 3.4350 GB
Chunk dataframe 319 size acumulado: 3.4458 GB
Chunk dataframe 320 size acumulado: 3.4566 GB
Chunk dataframe 321 size acumulado: 3.4674 GB
Chunk dataframe 322 size acumulado: 3.4783 GB
Chunk dataframe 323 size acumulado: 3.4891 GB
Chunk dataframe 324 size acumulado: 3.4999 GB
Chunk dataframe 325 size acumulado: 3.5107 GB
Chunk dataframe 326 size acumulado: 3.5215 GB
Chunk dataframe 327 size acumulado: 3.5323 GB
Chunk dataframe 328 size acumulado: 3.5431 GB
Chunk dataframe 329 size acumulado: 3.5539 GB
Chunk dataframe 330 size acumulado: 3.5647 GB
Chunk dataframe 331 size acumulado: 3.5755 GB
Chunk dataframe 332 size acumulado: 3.5863 GB
Chunk dataframe 333 size acumulado: 3.5971 GB
Chunk dataframe 334 size acumulado: 3.6079 GB
Chunk dataframe 335 size acumulado: 3.6187 GB
Chunk dataframe 336 size acumulado: 3.6295 GB
Chunk dataframe 337 size acumulado: 3.6403 GB
Chunk dataframe 338 size acumulado: 3.6511 GB
Chunk dataframe 339 size acumulado: 3.6619 GB
Chunk dataframe 340 size acumulado: 3.6727 GB
Chunk dataframe 341 size acumulado: 3.6835 GB
Chunk dataframe 342 size acumulado: 3.6943 GB
Chunk dataframe 343 size acumulado: 3.7051 GB
Chunk dataframe 344 size acumulado: 3.7159 GB
Chunk dataframe 345 size acumulado: 3.7267 GB
Chunk dataframe 346 size acumulado: 3.7375 GB
Chunk dataframe 347 size acumulado: 3.7483 GB
Chunk dataframe 348 size acumulado: 3.7591 GB
Chunk dataframe 349 size acumulado: 3.7699 GB
Chunk dataframe 350 size acumulado: 3.7807 GB
Chunk dataframe 351 size acumulado: 3.7915 GB
Chunk dataframe 352 size acumulado: 3.8023 GB
Chunk dataframe 353 size acumulado: 3.8131 GB
Chunk dataframe 354 size acumulado: 3.8239 GB
Chunk dataframe 355 size acumulado: 3.8347 GB
Chunk dataframe 356 size acumulado: 3.8455 GB
Chunk dataframe 357 size acumulado: 3.8563 GB
Chunk dataframe 358 size acumulado: 3.8671 GB
Chunk dataframe 359 size acumulado: 3.8779 GB
Chunk dataframe 360 size acumulado: 3.8887 GB

Chunk dataframe 361 size acumulado: 3.8995 GB
Chunk dataframe 362 size acumulado: 3.9103 GB
Chunk dataframe 363 size acumulado: 3.9211 GB
Chunk dataframe 364 size acumulado: 3.9319 GB
Chunk dataframe 365 size acumulado: 3.9427 GB
Chunk dataframe 366 size acumulado: 3.9535 GB
Chunk dataframe 367 size acumulado: 3.9643 GB
Chunk dataframe 368 size acumulado: 3.9751 GB
Chunk dataframe 369 size acumulado: 3.9859 GB
Chunk dataframe 370 size acumulado: 3.9967 GB
Chunk dataframe 371 size acumulado: 4.0076 GB
Chunk dataframe 372 size acumulado: 4.0184 GB
Chunk dataframe 373 size acumulado: 4.0292 GB
Chunk dataframe 374 size acumulado: 4.0400 GB
Chunk dataframe 375 size acumulado: 4.0508 GB
Chunk dataframe 376 size acumulado: 4.0616 GB
Chunk dataframe 377 size acumulado: 4.0724 GB
Chunk dataframe 378 size acumulado: 4.0832 GB
Chunk dataframe 379 size acumulado: 4.0940 GB
Chunk dataframe 380 size acumulado: 4.1048 GB
Chunk dataframe 381 size acumulado: 4.1156 GB
Chunk dataframe 382 size acumulado: 4.1264 GB
Chunk dataframe 383 size acumulado: 4.1372 GB
Chunk dataframe 384 size acumulado: 4.1480 GB
Chunk dataframe 385 size acumulado: 4.1588 GB
Chunk dataframe 386 size acumulado: 4.1696 GB
Chunk dataframe 387 size acumulado: 4.1804 GB
Chunk dataframe 388 size acumulado: 4.1912 GB
Chunk dataframe 389 size acumulado: 4.2020 GB
Chunk dataframe 390 size acumulado: 4.2128 GB
Chunk dataframe 391 size acumulado: 4.2236 GB
Chunk dataframe 392 size acumulado: 4.2344 GB
Chunk dataframe 393 size acumulado: 4.2452 GB
Chunk dataframe 394 size acumulado: 4.2560 GB
Chunk dataframe 395 size acumulado: 4.2668 GB
Chunk dataframe 396 size acumulado: 4.2776 GB
Chunk dataframe 397 size acumulado: 4.2884 GB
Chunk dataframe 398 size acumulado: 4.2992 GB
Chunk dataframe 399 size acumulado: 4.3100 GB
Chunk dataframe 400 size acumulado: 4.3208 GB
Chunk dataframe 401 size acumulado: 4.3316 GB
Chunk dataframe 402 size acumulado: 4.3424 GB
Chunk dataframe 403 size acumulado: 4.3532 GB
Chunk dataframe 404 size acumulado: 4.3640 GB
Chunk dataframe 405 size acumulado: 4.3748 GB
Chunk dataframe 406 size acumulado: 4.3856 GB
Chunk dataframe 407 size acumulado: 4.3964 GB
Chunk dataframe 408 size acumulado: 4.4072 GB
Chunk dataframe 409 size acumulado: 4.4180 GB
Chunk dataframe 410 size acumulado: 4.4288 GB
Chunk dataframe 411 size acumulado: 4.4396 GB
Chunk dataframe 412 size acumulado: 4.4504 GB
Chunk dataframe 413 size acumulado: 4.4612 GB
Chunk dataframe 414 size acumulado: 4.4720 GB
Chunk dataframe 415 size acumulado: 4.4828 GB
Chunk dataframe 416 size acumulado: 4.4936 GB
Chunk dataframe 417 size acumulado: 4.5044 GB
Chunk dataframe 418 size acumulado: 4.5152 GB
Chunk dataframe 419 size acumulado: 4.5260 GB
Chunk dataframe 420 size acumulado: 4.5369 GB
Chunk dataframe 421 size acumulado: 4.5477 GB
Chunk dataframe 422 size acumulado: 4.5585 GB
Chunk dataframe 423 size acumulado: 4.5693 GB
Chunk dataframe 424 size acumulado: 4.5801 GB
Chunk dataframe 425 size acumulado: 4.5909 GB
Chunk dataframe 426 size acumulado: 4.6017 GB
Chunk dataframe 427 size acumulado: 4.6125 GB
Chunk dataframe 428 size acumulado: 4.6233 GB
Chunk dataframe 429 size acumulado: 4.6341 GB
Chunk dataframe 430 size acumulado: 4.6449 GB
Chunk dataframe 431 size acumulado: 4.6557 GB
Chunk dataframe 432 size acumulado: 4.6665 GB
Chunk dataframe 433 size acumulado: 4.6773 GB
Chunk dataframe 434 size acumulado: 4.6881 GB
Chunk dataframe 435 size acumulado: 4.6989 GB
Chunk dataframe 436 size acumulado: 4.7097 GB
Chunk dataframe 437 size acumulado: 4.7205 GB
Chunk dataframe 438 size acumulado: 4.7313 GB
Chunk dataframe 439 size acumulado: 4.7421 GB
Chunk dataframe 440 size acumulado: 4.7529 GB
Chunk dataframe 441 size acumulado: 4.7637 GB
Chunk dataframe 442 size acumulado: 4.7745 GB
Chunk dataframe 443 size acumulado: 4.7853 GB
Chunk dataframe 444 size acumulado: 4.7961 GB
Chunk dataframe 445 size acumulado: 4.8069 GB
Chunk dataframe 446 size acumulado: 4.8177 GB
Chunk dataframe 447 size acumulado: 4.8285 GB
Chunk dataframe 448 size acumulado: 4.8393 GB
Chunk dataframe 449 size acumulado: 4.8501 GB
Chunk dataframe 450 size acumulado: 4.8609 GB
Chunk dataframe 451 size acumulado: 4.8717 GB
Chunk dataframe 452 size acumulado: 4.8825 GB
Chunk dataframe 453 size acumulado: 4.8933 GB
Chunk dataframe 454 size acumulado: 4.9041 GB
Chunk dataframe 455 size acumulado: 4.9149 GB
Chunk dataframe 456 size acumulado: 4.9257 GB
Chunk dataframe 457 size acumulado: 4.9365 GB
Chunk dataframe 458 size acumulado: 4.9473 GB
Chunk dataframe 459 size acumulado: 4.9581 GB
Chunk dataframe 460 size acumulado: 4.9689 GB
Chunk dataframe 461 size acumulado: 4.9797 GB
Chunk dataframe 462 size acumulado: 4.9905 GB
Chunk dataframe 463 size acumulado: 5.0013 GB
Chunk dataframe 464 size acumulado: 5.0121 GB
Chunk dataframe 465 size acumulado: 5.0229 GB
Chunk dataframe 466 size acumulado: 5.0337 GB
Chunk dataframe 467 size acumulado: 5.0445 GB
Chunk dataframe 468 size acumulado: 5.0553 GB
Chunk dataframe 469 size acumulado: 5.0662 GB
Chunk dataframe 470 size acumulado: 5.0770 GB
Chunk dataframe 471 size acumulado: 5.0878 GB
Chunk dataframe 472 size acumulado: 5.0986 GB
Chunk dataframe 473 size acumulado: 5.1094 GB
Chunk dataframe 474 size acumulado: 5.1202 GB
Chunk dataframe 475 size acumulado: 5.1310 GB
Chunk dataframe 476 size acumulado: 5.1418 GB
Chunk dataframe 477 size acumulado: 5.1526 GB
Chunk dataframe 478 size acumulado: 5.1634 GB
Chunk dataframe 479 size acumulado: 5.1742 GB
Chunk dataframe 480 size acumulado: 5.1850 GB
Chunk dataframe 481 size acumulado: 5.1958 GB
Chunk dataframe 482 size acumulado: 5.2066 GB
Chunk dataframe 483 size acumulado: 5.2174 GB
Chunk dataframe 484 size acumulado: 5.2282 GB
Chunk dataframe 485 size acumulado: 5.2390 GB
Chunk dataframe 486 size acumulado: 5.2498 GB
Chunk dataframe 487 size acumulado: 5.2606 GB
Chunk dataframe 488 size acumulado: 5.2714 GB
Chunk dataframe 489 size acumulado: 5.2822 GB
Chunk dataframe 490 size acumulado: 5.2930 GB
Chunk dataframe 491 size acumulado: 5.3038 GB
Chunk dataframe 492 size acumulado: 5.3146 GB
Chunk dataframe 493 size acumulado: 5.3254 GB
Chunk dataframe 494 size acumulado: 5.3362 GB
Chunk dataframe 495 size acumulado: 5.3470 GB
Chunk dataframe 496 size acumulado: 5.3578 GB
Chunk dataframe 497 size acumulado: 5.3686 GB
Chunk dataframe 498 size acumulado: 5.3794 GB
Chunk dataframe 499 size acumulado: 5.3902 GB
Chunk dataframe 500 size acumulado: 5.4010 GB
Chunk dataframe 501 size acumulado: 5.4118 GB
Chunk dataframe 502 size acumulado: 5.4226 GB
Chunk dataframe 503 size acumulado: 5.4334 GB
Chunk dataframe 504 size acumulado: 5.4442 GB
Chunk dataframe 505 size acumulado: 5.4550 GB
Chunk dataframe 506 size acumulado: 5.4658 GB
Chunk dataframe 507 size acumulado: 5.4766 GB
Chunk dataframe 508 size acumulado: 5.4874 GB
Chunk dataframe 509 size acumulado: 5.4982 GB
Chunk dataframe 510 size acumulado: 5.5090 GB
Chunk dataframe 511 size acumulado: 5.5198 GB
Chunk dataframe 512 size acumulado: 5.5306 GB
Chunk dataframe 513 size acumulado: 5.5414 GB
Chunk dataframe 514 size acumulado: 5.5522 GB
Chunk dataframe 515 size acumulado: 5.5630 GB
Chunk dataframe 516 size acumulado: 5.5738 GB
Chunk dataframe 517 size acumulado: 5.5846 GB
Chunk dataframe 518 size acumulado: 5.5955 GB
Chunk dataframe 519 size acumulado: 5.6063 GB
Chunk dataframe 520 size acumulado: 5.6171 GB
Chunk dataframe 521 size acumulado: 5.6279 GB
Chunk dataframe 522 size acumulado: 5.6387 GB
Chunk dataframe 523 size acumulado: 5.6495 GB
Chunk dataframe 524 size acumulado: 5.6603 GB
Chunk dataframe 525 size acumulado: 5.6711 GB
Chunk dataframe 526 size acumulado: 5.6819 GB
Chunk dataframe 527 size acumulado: 5.6927 GB
Chunk dataframe 528 size acumulado: 5.7035 GB
Chunk dataframe 529 size acumulado: 5.7143 GB
Chunk dataframe 530 size acumulado: 5.7251 GB
Chunk dataframe 531 size acumulado: 5.7359 GB
Chunk dataframe 532 size acumulado: 5.7467 GB
Chunk dataframe 533 size acumulado: 5.7575 GB
Chunk dataframe 534 size acumulado: 5.7683 GB
Chunk dataframe 535 size acumulado: 5.7791 GB
Chunk dataframe 536 size acumulado: 5.7899 GB
Chunk dataframe 537 size acumulado: 5.8007 GB
Chunk dataframe 538 size acumulado: 5.8115 GB
Chunk dataframe 539 size acumulado: 5.8223 GB

Chunk dataframe 540 size acumulado: 5.8331 GB
Chunk dataframe 541 size acumulado: 5.8439 GB
Chunk dataframe 542 size acumulado: 5.8547 GB
Chunk dataframe 543 size acumulado: 5.8655 GB
Chunk dataframe 544 size acumulado: 5.8763 GB
Chunk dataframe 545 size acumulado: 5.8871 GB
Chunk dataframe 546 size acumulado: 5.8979 GB
Chunk dataframe 547 size acumulado: 5.9087 GB
Chunk dataframe 548 size acumulado: 5.9195 GB
Chunk dataframe 549 size acumulado: 5.9303 GB
Chunk dataframe 550 size acumulado: 5.9411 GB
Chunk dataframe 551 size acumulado: 5.9519 GB
Chunk dataframe 552 size acumulado: 5.9627 GB
Chunk dataframe 553 size acumulado: 5.9735 GB
Chunk dataframe 554 size acumulado: 5.9843 GB
Chunk dataframe 555 size acumulado: 5.9869 GB

<font size="8">Mostrando la data</font>

In [9]:
data_reduce

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,4.5,733573,-73.844311,40.721319,-73.841610,40.712278,1
1,16.9,733777,-74.016048,40.711303,-73.979268,40.782004,1
2,5.7,734367,-73.982738,40.761270,-73.991242,40.750562,2
3,7.7,734614,-73.987130,40.733143,-73.991567,40.758092,1
4,5.3,733840,-73.968095,40.768008,-73.956655,40.783762,1
...,...,...,...,...,...,...,...
55423851,14.0,735307,-74.005272,40.740027,-73.963280,40.762555,1
55423852,4.2,733490,-73.957784,40.765530,-73.951640,40.773959,1
55423853,14.1,734229,-73.970505,40.752325,-73.960537,40.797342,1
55423854,28.9,734436,-73.980901,40.764629,-73.870605,40.773963,1
55423855,7.5,735579,-73.969722,40.797668,-73.970885,40.783313,1

In [2]:
scaler = StandardScaler()

In [3]:
predictores = ['pickup_datetime','pickup_longitude','pickup_latitude','dropoff_longitude','dropoff_latitude','passenger_count']

In [ ]:
data_reduce.to_csv('Data_Reduce.csv')

<font size="6">Hemos guardado la data anteriomente reducida como "Data_Reduce", y ahora procederemos a un correcta lecutra</font>

In [4]:
data_reduce = pd.read_csv("Data_Reduce.csv")

In [5]:
scaler.fit(data_reduce[predictores])

StandardScaler()

In [18]:
X=scaler.transform(data_reduce[predictores])

In [19]:
y = data_reduce['fare_amount']

**Hacemos una limpieza de data, pero primero mostraremos cuantos valores NaN hay**

In [6]:
total_nan_values = data_reduce.isnull().sum()

In [7]:
print(total_nan_values)

fare_amount            0
pickup_datetime        0
pickup_longitude       0
pickup_latitude        0
dropoff_longitude    376
dropoff_latitude     376
passenger_count        0
dtype: int64

**Ahora aplicamos dropna, para la correcta limmpieza**

In [8]:
data_sin_nan = data_reduce.dropna(axis=0)

**Ahora mostramos la data limpia sin valores NaN**

In [9]:
print(data_sin_nan.isnull().sum())

fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
dtype: int64

In [41]:
data_sin_nan

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,4.5,733573,-73.844311,40.721319,-73.841610,40.712278,1
1,16.9,733777,-74.016048,40.711303,-73.979268,40.782004,1
2,5.7,734367,-73.982738,40.761270,-73.991242,40.750562,2
3,7.7,734614,-73.987130,40.733143,-73.991567,40.758092,1
4,5.3,733840,-73.968095,40.768008,-73.956655,40.783762,1
...,...,...,...,...,...,...,...
55423851,14.0,735307,-74.005272,40.740027,-73.963280,40.762555,1
55423852,4.2,733490,-73.957784,40.765530,-73.951640,40.773959,1
55423853,14.1,734229,-73.970505,40.752325,-73.960537,40.797342,1
55423854,28.9,734436,-73.980901,40.764629,-73.870605,40.773963,1
55423855,7.5,735579,-73.969722,40.797668,-73.970885,40.783313,1

In [ ]:
from sklearn.preprocessing import StandardScaler

In [42]:
X=scaler.transform(data_sin_nan[predictores])

In [43]:
y = data_sin_nan['fare_amount']

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Data_Reduce.csv')

In [3]:
df

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,4.5,733573,-73.844311,40.721319,-73.841610,40.712278,1
1,16.9,733777,-74.016048,40.711303,-73.979268,40.782004,1
2,5.7,734367,-73.982738,40.761270,-73.991242,40.750562,2
3,7.7,734614,-73.987130,40.733143,-73.991567,40.758092,1
4,5.3,733840,-73.968095,40.768008,-73.956655,40.783762,1
...,...,...,...,...,...,...,...
55423851,14.0,735307,-74.005272,40.740027,-73.963280,40.762555,1
55423852,4.2,733490,-73.957784,40.765530,-73.951640,40.773959,1
55423853,14.1,734229,-73.970505,40.752325,-73.960537,40.797342,1
55423854,28.9,734436,-73.980901,40.764629,-73.870605,40.773963,1
55423855,7.5,735579,-73.969722,40.797668,-73.970885,40.783313,1

In [4]:
data_sin_nan = df.dropna(axis=0)

In [5]:
data_sin_nan

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,4.5,733573,-73.844311,40.721319,-73.841610,40.712278,1
1,16.9,733777,-74.016048,40.711303,-73.979268,40.782004,1
2,5.7,734367,-73.982738,40.761270,-73.991242,40.750562,2
3,7.7,734614,-73.987130,40.733143,-73.991567,40.758092,1
4,5.3,733840,-73.968095,40.768008,-73.956655,40.783762,1
...,...,...,...,...,...,...,...
55423851,14.0,735307,-74.005272,40.740027,-73.963280,40.762555,1
55423852,4.2,733490,-73.957784,40.765530,-73.951640,40.773959,1
55423853,14.1,734229,-73.970505,40.752325,-73.960537,40.797342,1
55423854,28.9,734436,-73.980901,40.764629,-73.870605,40.773963,1
55423855,7.5,735579,-73.969722,40.797668,-73.970885,40.783313,1

Una vez hecho esto, hemos delimitado la data con 30M de registros, ya que por temas de hardware no podemos correr toda la data.

**para delimitar la data usamos => df.iloc**

In [15]:
scaler.fit(data_limitada_sin_nan[predictores])

StandardScaler()

In [16]:
predictores = ['pickup_datetime','pickup_longitude','pickup_latitude','dropoff_longitude','dropoff_latitude','passenger_count']

In [17]:
X=scaler.transform(data_limitada_sin_nan[predictores])

In [18]:
y = data_limitada_sin_nan['fare_amount']

In [19]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

x_train, x_test, y_train, y_test = train_test_split(X,y,test_size=0.30, random_state=0)
regressor = RandomForestRegressor(n_estimators = 100, random_state = 0)  
regressor.fit(x_train, y_train)  
y_pred=regressor.predict(x_test)
score=regressor.score(x_test,y_test)
print(score)

0.8105962101592771